<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a package to the service <strong>${SERVICE.name}</strong></h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
	<fieldset>
	<form id="addPackage">
		<div class="row-lg-12">
		#if( $PACKAGES.isEmpty() )
			<div class="col-lg-6">
				<div class="alert alert-warning">No packages available to add.</div>
			</div>
		#else
			#foreach ($pkg in $PACKAGES)
				<div class="col-lg-6 formlist">
					<div class="input-group">
						<span class="input-group-addon small">
							<input type="checkbox" name="pkgs" value="$pkg.getName()">
						</span>
						<span class="form-control small">${pkg.getName()}</span>
					</div><!-- /input-group -->	
				</div><!-- /.col-lg-6 -->
			#end
		#end
		</div>
	</form>
	</fieldset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    #if(! $PACKAGES.isEmpty() )
    	<button type="button" class="btn btn-primary" data-ref="${SERVICE.name}/package/add" data-call-type="POST" data-toggle="update-modal" data-target="#popModal" data-form="addPackage">Add package(s)</button>
    #end
</div>