<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Server Options</h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
		<form id="options">
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('name'))has-error #end">
						<span class="input-group-addon">Server-Name</span>
						<input type="text" class="form-control" name="name" type="text" #if(${ERROR.getFormParams().get('name')})value="${ERROR.getFormParams().get('name')}"#elseif($options.name) value="$options.name" #else placeholder="Server-Name" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('bgcolor'))has-error #end">
						<span class="input-group-addon">Color identifier</span>
						<input type="text" class="form-control" name="bgcolor" type="text" #if(${ERROR.getFormParams().get('bgcolor')})value="${ERROR.getFormParams().get('bgcolor')}"#elseif($options.bgcolor) value="$options.bgcolor" #else placeholder="F6F4F0" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('allowautoupdate'))has-error #end">
						<span class="input-group-addon"><input type="checkbox" name="allowautoupdate" #if(${ERROR.getFormParams().get('allowautoupdate')})checked="checked"#elseif($options.allowautoupdate) checked="checked" #end ></span>
						<span class="form-control">Allow Auto Update</span>
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('needsapproval'))has-error #end">
						<span class="input-group-addon"><input type="checkbox" name="needsapproval" #if(${ERROR.getFormParams().get('needsapproval')})checked="checked"#elseif($options.needsApproval) checked="checked" #end ></span>
						<span class="form-control">Reports need approval</span>
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group">
					<span class="input-group-addon">Description</span>
					<textarea class="form-control" rows="3" name="description">#if(${ERROR.getFormParams().get('description')})${ERROR.getFormParams().get('description')}#elseif($options.description)$options.description#end</textarea>
				</div>
			</div>
			
			
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Host Cleanup Timer</span>
					<input type="text" class="form-control" name="hostCleanUpTimer" type="text" #if(${ERROR.getFormParams().get('hostCleanUpTimer')})value="${ERROR.getFormParams().get('hostCleanUpTimer')}"#else value="$options.hostCleanUpTimer" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Host Cleanup Timer Unit</span>
					<select name="hostCleanUpTimerUnit" class="form-control">
						#foreach($timeUnit in $timeUnits) 		
							<option value="$timeUnit" #if (${ERROR.getFormParams().get('hostCleanUpTimerUnit')} == "$timeUnit" || $options.hostCleanUpTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
						#end
					</select>
				</div>
			</div>
			
			#if($indexScanAvailable == "true")
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Index-Scan Timer</span>
					<input type="text" class="form-control" name="indexScanTimer" type="text" #if(${ERROR.getFormParams().get('indexScanTimer')})value="${ERROR.getFormParams().get('indexScanTimer')}"#else value="$options.indexScanTimer" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Index-Scan Timer Unit</span>
					<select name="indexScanTimerUnit" class="form-control">
						#foreach($timeUnit in $timeUnits) 		
							<option value="$timeUnit" #if (${ERROR.getFormParams().get('indexScanTimerUnit')} == "$timeUnit" || $options.indexScanTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
						#end
					</select>
				</div>
			</div>
			#end
			
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Page refresh Timer</span>
					<input type="text" class="form-control" name="pageRefreshTimer" type="text" #if(${ERROR.getFormParams().get('pageRefreshTimer')})value="${ERROR.getFormParams().get('pageRefreshTimer')}"#else value="$options.pageRefreshTimer" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('name'))has-error #end"">
					<span class="input-group-addon">Page refresh Timer Unit</span>
					<select name="pageRefreshTimerUnit" class="form-control">
						#foreach($timeUnit in $timeUnits) 		
							<option value="$timeUnit" #if (${ERROR.getFormParams().get('pageRefreshTimerUnit')} == "$timeUnit" || $options.pageRefreshTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
						#end
					</select>
				</div>
			</div>
			
			<div class="col-lg-12 formlist">	
				<div class="input-group">
					<span class="input-group-addon">Protect from DeInstall</span>
					<textarea class="form-control" rows="3" name="disallowUninstall">#if(${ERROR.getFormParams().get('disallowUninstall')})${ERROR.getFormParams().get('disallowUninstall')}#elseif($disallowUninstall)$disallowUninstall#end</textarea>
				</div>
			</div>
		</form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-ref="/web/options/save" data-call-type="POST" data-toggle="update-modal" data-target="#popModal" data-form="options">Save</button>
</div>