<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Delete the link <strong>${link.getLabel()}</strong></h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#else 
	<div class="alert alert-warning">You are going to delete the link <strong>${link.getLabel()}</strong> permanently.<br />
	Are you sure?</div>
#end
</div>
<div class="modal-footer">
    #if(! $ERROR )
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
   	<button type="button" class="btn btn-primary" data-ref="/web2/options/links/${link.getLabel()}/delete" data-toggle="update-modal" data-call-type="POST" data-target="#popModal">Yes</button>
   	#else
   	<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
   	#end
</div>