<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Links</h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Label</th>
				<th>Link</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="table-hover small-lines">
			#foreach ($link in $links) 
			<tr>
				<td>$link.label</td>
				<td>$link.url</td>
				<td class="actionButton"><button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-trash" data-ref="/web2/options/links/${link.label}/delete" data-toggle="modal" data-target="#popModal" data-call-type="GET" rel="tooltip-left" title="Delete"></button></td>
			</tr>
			#end
			
		</tbody>
	</table>	
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-ref="/web2/options/links/add" data-call-type="GET" data-toggle="update-modal" data-target="#popModal">Add a new link</button>
</div>