<cc-title title="Hosts" titleIcon="fa-laptop" [reloadable]="true" (onReload)="reloadHosts()"></cc-title>

<div class="row">
  <div class="col-md-4">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-3">
    <cc-filter mode="select" label="Template" [data]="templates" (onQueryChange)="searchTemplateQuery = $event"
               [dataField]="'name'"></cc-filter>
  </div>
</div>

<div class="row" *ngIf="hosts.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert-1">
      There are currently no Hosts known.<br/>
    </div>
  </div>
</div>

<div class="row" *ngIf="hosts && hosts.length > 0">
  <div class="col-md-12">
    <cc-panel [icon]="'fa-laptop'" [title]="'All available hosts'">

      <li cc-panel-dropdown>
        <a [routerLink]="['new']" [queryParams]="{'ret':'ov'}">New host</a>
      </li>

      <li class="divider" cc-panel-dropdown></li>

      <li cc-panel-dropdown>
        <a href="javascript:void(0)" mwlConfirmationPopover
           [title]="'Please verify!'"
           [message]="'Are you sure you want to delete <strong>all<strong> hosts?'"
           confirmButtonType="danger"
           (confirm)="deleteHosts()"
           [appendToBody]="true">
          Delete all hosts
        </a>
      </li>

      <table class="table-responsive table table-striped table-hover" cc-panel-body>
        <thead>
        <tr>
          <th>Name</th>
          <th>Template</th>
          <th>last seen</th>
          <th width="15px"></th>
          <th width="15px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let host of hosts" (dblclick)="gotoDetails(host)" [class.success]="isAlive(host)"
            [class.danger]="!isAlive(host)">
          <td class="word-break" *ngIf="!host.agent">
            {{host.name}}
          </td>
          <td class="word-break" *ngIf="host.agent">
            {{host.agent}}
            <small> - {{host.name}}</small>
          </td>
          <td>
            {{host.template}}
          </td>
          <td>
            {{host.lastSeen | date:'dd.MM.yyyy HH:mm'}}
          </td>
          <td>
            <a title="Edit Host" [routerLink]="[host.name]" [queryParams]="{'ret':'ov'}"><i class="fa fa-edit fa-fw"></i></a>
          </td>
          <td>
            <a href="javascript:void(0)" mwlConfirmationPopover
              title="Delete Host"
              [title]="'Please verify!'"
              [message]="'Are you sure you want to delete the following host: ' + host.name + '?'"
              placement="left"
              confirmButtonType="danger"
              (confirm)="deleteHost(host)">
              <i class="fa fa-trash-o fa-fw"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>
</div>
