<div id="$file.name" class="col-xs-12 col-sm-10 rel-anchor"></div>
<div class="col-xs-12 col-sm-12">

	<div class="panel panel-primary">
		<div class="panel-heading panel-toggle" data-toggle="collapse"
			data-target="#REPO-hide">
			<h3 class="panel-title">
				Package Repository: ${folder} <span class="pull-right"><span class="caret"></span></span>
			</h3>

		</div>
		<div id="REPO-hide" class="collapse in">
			<table id="repo-table" class="table table-striped table-bordered" width="100%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Last Modified</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody class="small-lines">
					<tr>
						<td><span class="glyphicon glyphicon-folder-open" /> <a href="../">../</a></td>
						<td></td>
						<td></td>
					</tr>
					#foreach($f in $files)
					<tr>
					#if(${f.directory})
						<td><span class="glyphicon glyphicon-folder-open" /> <a href="${f.name}/">${f.name}/</a></td>
						<td>$!{dateTool.format('dd.MM.yyyy HH:mm:ss', $f.modified)}</td>
						<td></td>
					#else
						<td><span class="glyphicon glyphicon-gift" /> <a href="${f.name}">${f.name}</a></td>
						<td>${dateTool.format('dd.MM.yyyy HH:mm:ss', $f.modified)}</td>
						<td style="text-align: right">${byteTool.format($f.size)}</td>
					#end
					</tr>
					#end
				</tbody>

			</table>

		</div>
	</div>
</div>


