@import "_variables";

$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// Global Styles

body {
  background-color: $gray-lightest;
}

// Load Screen
.loadscreen {
  text-align:center;
  margin-top: 50px;
}

.loadscreen>.card {
  padding: 30px;
}

.loadscreen i,
.loadscreen p {
  margin-top: 20px;
}

// Wrappers

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid darken($gray-lightest, 6.5%);
  }
}

h1 h4 {
  margin-left: 60px;
}

.inline-form {
  margin-bottom: 5px;
  width:100%;
}

// Buttons

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: $brand-primary;
}

.btn-success.btn-outline {
  color: $brand-success;
}

.btn-info.btn-outline {
  color: $brand-info;
}

.btn-warning.btn-outline {
  color: $brand-warning;
}

.btn-danger.btn-outline {
  color: $brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}




// Login Page

.login-panel {
  margin-top: 25%;
}

// DataTables Overrides

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

// Circle Buttons

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

//helper
.word-break {
  word-break: break-all;
}

.space-20 {
  margin-top: 20px;
}

.label-as-badge {
  border-radius: 1em;
}

td ul {
  padding-left: 20px;
}

/* no additional margin if inside of a panel */
.panel-body .alert {
  margin-bottom: 0
}
