<div class="hmenu_left">
	<a class="backButton" href="/web"><span>Back to Home</span> </a>
</div>
<div class="info_container">
	<p>This page shows the current status of the given environment
		managed by the CloudConductor.</p>
</div>
<div class="segment_container">
	<div class="segment_content">
		<h3>Installation Status</h3>
		<table class="install_status">
			#foreach( $package in $packages )
			<tr>
				<td>$package.name</td>
				<td class="versionOk">$package.version</td>
			</tr>
			#end
		</table>
	</div>
</div>
<div class="info_container">
	<table class="signature">
		<tr>
			<td>installiert am&nbsp;</td>
			<td class="signature" width="30%"></td>
			<td>&nbsp;durch&nbsp;</td>
			<td class="signature" width="40%"></td>
		</tr>
		<tr>
			<td>technisch freigegeben am&nbsp;</td>
			<td class="signature"></td>
			<td>&nbsp;durch&nbsp;</td>
			<td class="signature"></td>
		</tr>
		<tr>
			<td>fachlich freigegeben am&nbsp;</td>
			<td class="signature"></td>
			<td>&nbsp;durch&nbsp;</td>
			<td class="signature"></td>
		</tr>
	</table>
</div>