<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add ssh key <strong>$KEY.owner</strong> to a template</h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
		<form id="keys">
			#foreach($template in $TEMPLATES)
			#if(! $template.getSshkeys().contains($KEY))
			#set($found=true)
			<div class="col-lg-12 formlist">
				<div class="input-group">
					<span class="input-group-addon small">
						<input type="checkbox" name="templates" value="$template.name" >
					</span>
					<span class="form-control">$template.name</span>
				</div>
			</div>
			#end
			#end
			#if(!$found) 
				<div class="alert alert-warning">
					<p>No templates available.</p>	
				</div>
			#end
		</form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    #if($found) 
    <button type="button" class="btn btn-primary" data-ref="$KEY.owner/template/add" data-call-type="POST" data-toggle="modal" data-target="#popModal" data-form="keys">Save</button>
    #end
</div>