<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/web/images/favicon.ico"/>

	<!-- Bootstrap core CSS -->
    <link href="/web/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/web/css/cloudconductor.css" rel="stylesheet"/>
    <!-- Daterangepicker CSS -->
    <link rel="stylesheet" type="text/css" href="/web/css/daterangepicker-bs3.min.css" />
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    
    <title>Installing CloudConductor</title>
</head>
<body>

<!-- Content -->
<div class="jumbotron" style="background-color:#f0faff">
	<div class="container">
		<span class="c2-logo pull-left"><img src="/web/images/200x200.jpg"  class="img-circle"/></span>
        <h1>CloudConductor Installation</h1>
        <p>Please provide the following information to finish the CloudConductor Installation:</p>
	</div>
</div>
<div class="container">
	#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
	#end 
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-12">
			<form id="install" action="/web" method="post">
			<h4>Database connection</h4>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-type'))has-error #end">
						<span class="input-group-addon">Database Type</span>
						<select name="db-type" class="form-control">
							<option value="-1" selected="selected">- none -</option>
							<option value="POSTGRESQL" #if (${ERROR.getFormParams().get('db-type')} == "POSTGRESQL") selected="selected" #end>PostgreSQL</option>
							<option value="HSQL" #if (${ERROR.getFormParams().get('db-type')} == "HSQL") selected="selected" #end>HSQL</option>
							<option value="MYSQL" #if (${ERROR.getFormParams().get('db-type')} == "MYSQL") selected="selected" #end>MYSQL</option>
						</select>
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-host'))has-error #end">
						<span class="input-group-addon">Database Host</span>
						<input type="text" class="form-control" name="db-host" type="text" #if(${ERROR.getFormParams().get('db-host')})value="${ERROR.getFormParams().get('db-host')}"#else value="localhost" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-port'))has-error #end">
						<span class="input-group-addon">Database Port</span>
						<input type="text" class="form-control" name="db-port" type="text" #if(${ERROR.getFormParams().get('db-port')})value="${ERROR.getFormParams().get('db-port')}"#else value="5432" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-user'))has-error #end">
						<span class="input-group-addon">Database User</span>
						<input type="text" class="form-control" name="db-user" type="text" #if(${ERROR.getFormParams().get('db-user')})value="${ERROR.getFormParams().get('db-user')}"#else placeholder="admin" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-pw'))has-error #end">
						<span class="input-group-addon">Database Password</span>
						<input type="password" class="form-control" name="db-pw" type="text" #if(${ERROR.getFormParams().get('db-pw')})value="${ERROR.getFormParams().get('db-pw')}"#else placeholder="admin" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('db-name'))has-error #end">
						<span class="input-group-addon">Database Name</span>
						<input type="text" class="form-control" name="db-name" type="text" #if(${ERROR.getFormParams().get('db-name')})value="${ERROR.getFormParams().get('db-name')}"#else value="cloudconductor" #end >
					</div>
				</div>
			<h7>&nbsp;</h7>	
			<h4>CloudConductor Settings</h4>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('cc-name'))has-error #end">
						<span class="input-group-addon">CC Name</span>
						<input type="text" class="form-control" name="cc-name" type="text" #if(${ERROR.getFormParams().get('cc-name')})value="${ERROR.getFormParams().get('cc-name')}"#else placeholder="CloudConductor Server-Name" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('cc-port'))has-error #end">
						<span class="input-group-addon">CC Port</span>
						<input type="text" class="form-control" name="cc-port" type="text" #if(${ERROR.getFormParams().get('cc-port')})value="${ERROR.getFormParams().get('cc-port')}"#else value="8090" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('cc-user'))has-error #end">
						<span class="input-group-addon">Admin-User</span>
						<input type="text" class="form-control" name="cc-user" type="text" #if(${ERROR.getFormParams().get('cc-user')})value="${ERROR.getFormParams().get('cc-user')}"#else value="admin" #end >
					</div>
				</div>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('cc-pw'))has-error #end">
						<span class="input-group-addon">Admin-Password</span>
						<input type="password" class="form-control" name="cc-pw" type="text" #if(${ERROR.getFormParams().get('cc-pw')})value="${ERROR.getFormParams().get('cc-pw')}"#else placeholder="password" #end >
					</div>
				</div>
			
			<h7>&nbsp;</h7>	
			<h4>Repository Settings</h4>
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('repo-scan'))has-error #end">
						<span class="input-group-addon">Use Index-Scan</span>
						<select id="repo-scan" name="repo-scan" class="form-control">
							<option value="false" #if (${ERROR.getFormParams().get('repo-scan')} == "false") selected="selected" #end>false</option>
							<option value="true" #if (${ERROR.getFormParams().get('repo-scan')} == "true") selected="selected" #end>true</option>
						</select>
					</div>
				</div>
				<div id="repo-scan-detail" class="col-lg-12 formlist" #if (!${ERROR.getFormParams().get('repo-scan')} || ${ERROR.getFormParams().get('repo-scan')} == "false")style="display: none;" #end>
					<div class="input-group #if($ERROR.hasError('repo-indexer'))has-error #end">
						<span class="input-group-addon">Index-Scanner</span>
						<select name="repo-indexer" class="form-control">
							<option value="IndexFileIndexer" #if (${ERROR.getFormParams().get('repo-indexer')} == "IndexFileIndexer") selected="selected" #end>IndexFileIndexer</option>
							<option value="RPMIndexer" #if (${ERROR.getFormParams().get('repo-indexer')} == "RPMIndexer") selected="selected" #end>RPMIndexer</option>
						</select>
					</div>
				</div>
				
				<div class="col-lg-12 formlist">
					<div class="input-group #if($ERROR.hasError('repo-provider'))has-error #end">
						<span class="input-group-addon">Repository Provider</span>
						<select id="repo-provider" name="repo-provider" class="form-control">
							<option value="-1" selected="selected">- none -</option>
							<option value="FileProvider" #if (${ERROR.getFormParams().get('repo-provider')} == "FileProvider") selected="selected" #end>FileProvider</option>
							<option value="HTTPProvider" #if (${ERROR.getFormParams().get('repo-provider')} == "HTTPProvider") selected="selected" #end>HTTPProvider</option>
							<option value="AWSS3Provider" #if (${ERROR.getFormParams().get('repo-provider')} == "AWSS3Provider") selected="selected" #end>AWSS3Provider</option>
						</select>
					</div>
				</div>
				
				<div id="repo-basedir" #if (${ERROR.getFormParams().get('repo-provider')} != "FileProvider") style="display: none;" #end>
					<div class="col-lg-12 formlist">
						<div class="input-group #if($ERROR.hasError('repo-basedir'))has-error #end">
							<span class="input-group-addon">Repository Base-Dir</span>
							<input type="text" class="form-control" name="repo-basedir" type="text" #if(${ERROR.getFormParams().get('repo-basedir')})value="${ERROR.getFormParams().get('repo-basedir')}"#else value="static/yum/" #end >
						</div>
					</div>
				</div>
				<div id="repo-baseurl" #if (${ERROR.getFormParams().get('repo-provider')} != "HTTPProvider") style="display: none;" #end>
					<div class="col-lg-12 formlist">
						<div class="input-group #if($ERROR.hasError('repo-baseurl'))has-error #end">
							<span class="input-group-addon">Repository Base-URL</span>
							<input type="text" class="form-control" name="repo-baseurl" type="text" #if(${ERROR.getFormParams().get('repo-baseurl')})value="${ERROR.getFormParams().get('repo-baseurl')}"#else placeholder="http://yum.cloudconductor.net/" #end >
						</div>
					</div>
				</div>
				<div id="repo-aws" #if (${ERROR.getFormParams().get('repo-provider')} != "AWSS3Provider") style="display: none;" #end>
					<div class="col-lg-12 formlist">
						<div class="input-group #if($ERROR.hasError('repo-bucket'))has-error #end">
							<span class="input-group-addon">AWS Bucket name</span>
							<input type="text" class="form-control" name="repo-bucket" type="text" #if(${ERROR.getFormParams().get('repo-bucket')})value="${ERROR.getFormParams().get('repo-bucket')}"#else placeholder="bucketname" #end >
						</div>
					</div>
					<div class="col-lg-12 formlist">
						<div class="input-group #if($ERROR.hasError('aws-accessKeyId'))has-error #end">
							<span class="input-group-addon">AWS Access Key Id</span>
							<input type="text" class="form-control" name="aws-accessKeyId" type="text" #if(${ERROR.getFormParams().get('aws-accessKeyId')})value="${ERROR.getFormParams().get('aws-accessKeyId')}"#end >
						</div>
					</div>
					<div class="col-lg-12 formlist">
						<div class="input-group #if($ERROR.hasError('aws-secretKey'))has-error #end">
							<span class="input-group-addon">AWS Secret Key</span>
							<input type="text" class="form-control" name="aws-secretKey" type="text" #if(${ERROR.getFormParams().get('aws-secretKey')})value="${ERROR.getFormParams().get('aws-secretKey')}" #end >
						</div>
					</div>
				</div>
			<h7>&nbsp;</h7>
			<div class="col-lg-12 formlist">
				<button type="submit" class="btn btn-primary btn-block" data-form="install">CONTINUE</button>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- Footer -->
<div class="container">
	<hr />
    <footer>
	    
	    <p>&copy; 2012-2014 by Cinovo AG <a href="http://www.cinovo.de" target="_blank">http://www.cinovo.de</a> 
	   <small class="pull-right">v<a href="https://github.com/cinovo/cloudconductor-server" target="_blank" >$C2InstanceVersion</a></small>
	    </p>
  	</footer>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script src="/web/js/jquery-1.11.1.min.js"></script>
<script src="/web/bootstrap/js/bootstrap.min.js"></script>
<script src="/web/js/cloudconductor-web.js"></script>
<script src="/web/js/cloudconductor-install.js"></script>
</body>
</html>