<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list-alt fa-fw"></i> Identifier
			</div>
			<div class="panel-body">
				<input type="text" class="form-control" ng-model="controller.data.name">
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-desktop fa-fw"></i> Packageservers
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<tbody>
							<tr ng-repeat="server in controller.data.details | orderBy:'id'" info
								ng-class="{info: server.id == pack.primaryServer}">
								<td><i class="fa fa-check fa-fw"
									ng-if="server.id === pack.primaryServer" )/></td>
								<td>{{server.description}}</td>
								<td>{{server.path}}</td>
								<td>
									<a ng-click="controller.editServer(server.id)"><i class="fa fa-edit fa-fw" /></a>
								</td>
								<td><a ng-click="controller.deleteServer(server.id)"
									confirm="Are you sure you want to delete the following server: {{server.description}}?"
									confirm-title="Please verify!" confirm-ok="Yes"
									confirm-cancel="No"> <i
										class="fa fa-bitbucket fa-fw" /></a></td>
							</tr>
							<tr ng-click="controller.addServer()">
								<td><i class="fa fa-plus fa-fw"/></td>
								<td colspan="4">Add a new Server</td>  
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button ng-click="controller.save()" class="btn btn-info  pull-right">Save</button>
	</div>
</div>