<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list-alt fa-fw"></i> Packageserver
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" ng-model="controller.data.description">
				</div>
				<div class="form-group">
					<label>Path</label>
					<input type="text" class="form-control" ng-model="controller.data.path">
				</div>
				
				<div class="form-group">
					<label>Group</label>
					<input type="text" class="form-control" ng-model="controller.addData.serverGroupName" disabled>
				</div>
				
				<div class="form-group">
	            	<label>Index Type</label>
	                <select class="form-control" ng-model="controller.data.indexerType">
	                	<option value="NONE">NONE</option>
	                    <option value="FILE">FILE</option>
	                    <option value="RPM">RPM</option>
	                </select>
	            </div>
		
				<div class="form-group">
	            	<label>Index Type</label>
	                <select class="form-control" ng-model="controller.data.providerType">
	                	<option value="NONE">NONE</option>
	                    <option value="HTTP">HTTP</option>
	                    <option value="AWSS3">AWSS3</option>
	                    <option value="FILE">FILE</option>
	                </select>
	            </div>
				
				<div class="form-group" ng-if="controller.data.providerType == 'HTTP' || controller.data.providerType == 'FILE'">
					<label  ng-if="controller.data.providerType == 'HTTP'">URL</label>
					<label  ng-if="controller.data.providerType == 'FILE'">File-Path</label>	
					<input type="text" class="form-control" ng-model="controller.data.basePath">
				</div>
				
				<div ng-if="controller.data.providerType == 'AWSS3'">
					<div class="form-group">
						<label>S3 Bucketname</label>
						<input type="text" class="form-control" ng-model="controller.data.bucketName">
					</div>
					<div class="form-group">
						<label>AWS Region</label>
						<input type="text" class="form-control" ng-model="controller.data.awsRegion">
					</div>
					<div class="form-group">
						<label>S3 Access Key</label>
						<input type="text" class="form-control" ng-model="controller.data.accessKeyId">
					</div>
					<div class="form-group">
						<label>S3 Secret Key</label>
						<input type="text" class="form-control" ng-model="controller.data.secretKey">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="pull-right">
			<a href="/#{{controller.redirectTo}}" class="btn btn-default">Back</a>
			<button ng-click="controller.save()" class="btn btn-info">Save</button>
		</div>
	</div>
</div>