<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" *ngIf="mode == 'edit'">Edit Package-Server</h1>
    <h1 class="page-header" *ngIf="mode == 'new'">New Package-Server</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Packageserver
      </div>
      <div class="panel-body">
        <div class="form-group" [class.has-error]="isDescriptionValid()">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" [(ngModel)]="server.description" id="description">
        </div>
        <div class="form-group" [class.has-error]="isPathValid()">
          <label class="control-label" for="path">Path</label>
          <input type="text" class="form-control" [(ngModel)]="server.path" id="path">
        </div>

        <div class="form-group">
          <label class="control-label" for="group">Group</label>
          <input type="text" class="form-control" [(ngModel)]="group.name" id="group" disabled>
        </div>

        <div class="form-group">
          <label class="control-label" for="indexertype">Index Type</label>
          <select class="form-control" [(ngModel)]="server.indexerType" id="indexertype">
            <option value="NONE">NONE</option>
            <option value="FILE">FILE</option>
            <option value="RPM">RPM</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="indextype">Index Type</label>
          <select class="form-control" [(ngModel)]="server.providerType" id="indextype">
            <option value="NONE">NONE</option>
            <option value="HTTP">HTTP</option>
            <option value="AWSS3">AWSS3</option>
            <option value="FILE">FILE</option>
          </select>
        </div>

        <div class="form-group" *ngIf="server.providerType == 'HTTP' || server.providerType == 'FILE'">
          <label *ngIf="server.providerType == 'HTTP'" class="control-label" for="basepath">URL</label>
          <label *ngIf="server.providerType == 'FILE'" class="control-label" for="basepath">File-Path</label>
          <input type="text" class="form-control" [(ngModel)]="server.basePath" id="basepath">
        </div>

        <div *ngIf="server.providerType == 'AWSS3'">
          <div class="form-group">
            <label class="control-label" for="s3bucketname">S3 Bucketname</label>
            <input type="text" class="form-control" [(ngModel)]="server.bucketName" id="s3bucketname">
          </div>
          <div class="form-group">
            <label class="control-label" for="s3region">AWS Region</label>
            <input type="text" class="form-control" [(ngModel)]="server.awsRegion" id="s3region">
          </div>
          <div class="form-group">
            <label class="control-label" for="s3accesskey">S3 Access Key</label>
            <input type="text" class="form-control" [(ngModel)]="server.accessKeyId" id="s3accesskey">
          </div>
          <div class="form-group">
            <label class="control-label" for="s3secret">S3 Secret Key</label>
            <input type="text" class="form-control" [(ngModel)]="server.secretKey" id="s3secret">
          </div>
        </div>
        <div class="pull-right">
          <button *ngIf="returnToOverview" [routerLink]="['/packageservers']" class="btn btn-default">Back</button>
          <button *ngIf="!returnToOverview" [routerLink]="['/packageservers',group.id]" class="btn btn-default">Back
          </button>
          <button (click)="save()" class="btn btn-info" [disabled]="isDescriptionValid() || isPathValid()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

