<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modify the agent configuration for template <strong>${template.getName()}</strong></h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 

	<form id="editAgentConfig">
		<div class="row-lg-12">
			<div class="col-lg-8 formlist">	
				<div class="input-group #if($ERROR.hasError('aliveTimer'))has-error #end">
					<span class="input-group-addon">Alive Timer</span>
					<input type="text" class="form-control" name="aliveTimer" style="text-align:right;" type="text" #if(${ERROR.getFormParams().get('aliveTimer')})value="${ERROR.getFormParams().get('aliveTimer')}"#else value="$options.aliveTimer" #end >
				</div>
			</div>
			<div class="col-lg-4 formlist">	
				<select name="aliveTimerUnit" class="form-control">
					#foreach($timeUnit in $timeUnits) 		
						<option value="$timeUnit" #if (${ERROR.getFormParams().get('aliveTimerUnit')} == "$timeUnit" || $options.aliveTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
					#end
				</select>
			</div>
			<div class="col-lg-12 formlist">	
				
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('doSshKeys'))has-error #end">
					<span class="input-group-addon">Do SSH Key Management</span>
					<select name="doSshKeys" class="form-control">
						#foreach($taskState in $taskStates) 		
							<option value="$taskState" #if (${ERROR.getFormParams().get('doSshKeys')} == "$taskState" || $options.doSshKeys == "$taskState") selected="selected" #end>$taskState</option>
						#end
					</select>
				</div>
			</div>
			<div class="col-lg-8 formlist">	
				<div class="input-group #if($ERROR.hasError('sshKeysTimer'))has-error #end">
					<span class="input-group-addon">SSH Key Timer</span>
					<input type="text" class="form-control" name="sshKeysTimer" style="text-align:right;" type="text" #if(${ERROR.getFormParams().get('sshKeysTimer')})value="${ERROR.getFormParams().get('sshKeysTimer')}"#else value="$options.sshKeysTimer" #end >
				</div>
			</div>
			<div class="col-lg-4 formlist">	
				<select name="sshKeysTimerUnit" class="form-control">
					#foreach($timeUnit in $timeUnits) 		
						<option value="$timeUnit" #if (${ERROR.getFormParams().get('sshKeysTimerUnit')} == "$timeUnit" || $options.sshKeysTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
					#end
				</select>
			</div>
			<div class="col-lg-12 formlist">	
				
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('doPackageManagement'))has-error #end">
					<span class="input-group-addon">Do Package Management</span>
					<select name="doPackageManagement" class="form-control">
						#foreach($taskState in $taskStates) 		
							<option value="$taskState" #if (${ERROR.getFormParams().get('doPackageManagement')} == "$taskState" || $options.doPackageManagement == "$taskState") selected="selected" #end>$taskState</option>
						#end
					</select>
				</div>
			</div>
			<div class="col-lg-8 formlist">	
				<div class="input-group #if($ERROR.hasError('packageManagementTimer'))has-error #end">
					<span class="input-group-addon">Package Timer</span>
					<input type="text" class="form-control" name="packageManagementTimer" style="text-align:right;" type="text" #if(${ERROR.getFormParams().get('packageManagementTimer')})value="${ERROR.getFormParams().get('packageManagementTimer')}"#else value="$options.packageManagementTimer" #end >
				</div>
			</div>
			<div class="col-lg-4 formlist">	
				<select name="packageManagementTimerUnit" class="form-control">
					#foreach($timeUnit in $timeUnits) 		
						<option value="$timeUnit" #if (${ERROR.getFormParams().get('packageManagementTimerUnit')} == "$timeUnit" || $options.packageManagementTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
					#end
				</select>
			</div>
			<div class="col-lg-12 formlist">	
				
			</div>
			<div class="col-lg-12 formlist">	
				<div class="input-group #if($ERROR.hasError('doFileManagement'))has-error #end">
					<span class="input-group-addon">Do File Management</span>
					<select name="doFileManagement" class="form-control">
						#foreach($taskState in $taskStates) 		
							<option value="$taskState" #if (${ERROR.getFormParams().get('doFileManagement')} == "$taskState" || $options.doFileManagement == "$taskState") selected="selected" #end>$taskState</option>
						#end
					</select>
				</div>
			</div>
			<div class="col-lg-8 formlist">	
				<div class="input-group #if($ERROR.hasError('fileManagementTimer'))has-error #end">
					<span class="input-group-addon">File Timer</span>
					<input type="text" class="form-control" name="fileManagementTimer" style="text-align:right;" type="text" #if(${ERROR.getFormParams().get('fileManagementTimer')})value="${ERROR.getFormParams().get('fileManagementTimer')}"#else value="$options.fileManagementTimer" #end >
				</div>
			</div>
			<div class="col-lg-4 formlist">	
				<select name="fileManagementTimerUnit" class="form-control">
					#foreach($timeUnit in $timeUnits) 		
						<option value="$timeUnit" #if (${ERROR.getFormParams().get('fileManagementTimerUnit')} == "$timeUnit" || $options.fileManagementTimerUnit == "$timeUnit") selected="selected" #end>$timeUnit</option>
					#end
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-ref="${template.getName()}/agentconfig/edit" data-call-type="POST" data-target="#popModal" data-toggle="modal" data-form="editAgentConfig">Save</button>
</div>