<div class="panel panel-default">
  <div class="panel-heading" (dblclick)="doHeaderDblClick()">

    <i class="fa {{icon}} fa-fw"></i>
    {{title}}

    <div class="pull-right">
      @if (subTitle && subTitleCondition) {
        <small>{{subTitle}}</small>
      }
      <div class="btn-group" [class.hidden]="!showDropDown">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          {{dropDownLabel}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" #dropdownmenu>
          <ng-content select="[cc-panel-dropdown]"></ng-content>
        </ul>
      </div>

      @if (collapsable) {
        <button class="btn btn-default btn-xs collapse-toggle" (click)="collapseBody = !collapseBody" role="button">
          @if (!collapseBody) {
            <i class="fa fa-compress fa-fw" title="Hide content"></i>
          }
          @if (collapseBody) {
            <i class="fa fa-expand fa-fw" title="Show content"></i>
          }
        </button>
      }
    </div>

  </div>

  <div class="panel-body" [class.collapse]="collapseBody">
    <ng-content select="[cc-panel-body]"></ng-content>
  </div>
</div>
