<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/web/images/favicon.ico"/>

	<!-- Bootstrap core CSS -->
    <link href="/web/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/web/css/cloudconductor.css" rel="stylesheet"/>
    <!-- Daterangepicker CSS -->
    <link rel="stylesheet" type="text/css" href="/web/css/daterangepicker-bs3.min.css" />
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    
    <title>Installing CloudConductor</title>
</head>
<body>

<!-- Content -->
<div class="jumbotron" style="background-color:#f0faff">
	<div class="container">
		<span class="c2-logo pull-left"><img src="/web/images/200x200.jpg"  class="img-circle"/></span>
        <h1>CloudConductor Installation</h1>
        <p>Please wait while the installation is finished.<br />
        If the CloudConductor doesn't react within 3 minutes please restart it.</p>
	<div class="progress">
	   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		 <span class="sr-only">40% Complete (success)</span>
	   </div>
	</div>
	</div>
</div>



<!-- Footer -->
<div class="container">
	<hr />
    <footer>
	    
	    <p>&copy; 2012-2014 by Cinovo AG <a href="http://www.cinovo.de" target="_blank">http://www.cinovo.de</a> 
	   <small class="pull-right">v<a href="https://github.com/cinovo/cloudconductor-server" target="_blank" >$C2InstanceVersion</a></small>
	    </p>
  	</footer>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script src="/web/js/jquery-1.11.1.min.js"></script>
<script src="/web/bootstrap/js/bootstrap.min.js"></script>

<script src="/web/js/cloudconductor-install.js"></script>
</body>
</html>