<div id="$file.name" class="col-xs-12 col-sm-10 rel-anchor"></div>
<div class="col-xs-12 col-sm-12">




	<div class="panel panel-primary">
		<div class="panel-heading panel-toggle" data-toggle="collapse"
			data-target="#AUDIT-hide">
			<h3 class="panel-title">AUDIT <span class="pull-right"><span class="caret"></span></span></h3>

		</div>
		<div id="AUDIT-hide" class="collapse in">
			<table id="audit-table" class="table table-striped table-bordered" width="100%">
				<thead>
					<tr>
						<th>Date</th>
						<th>Entry</th>
						<th>Username</th>
						<th>Category</th>
						<th>Audittype</th>
					</tr>
				</thead>
				<tbody class="small-lines">
					#foreach($audit in $audits)
					<tr>
						<td>${dateTool.format('MM.dd.yyyy', $audit.timestamp)}</td>
						<td>${audit.entry}</td>
						<td>${audit.username}</td>
						<td>${audit.category}</td>
						<td>${audit.id}</td>
					</tr>
					#end
				</tbody>
			</table>

		</div>
	</div>
</div>


