<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a package to the template <strong>${template.name}</strong></h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
	<fieldset>
	<form id="addService">
		<div class="row">
		#if( $packages.isEmpty() )
			<div class="col-lg-6">
				<div class="alert alert-warning">No packages available to add.</div>
			</div>
		#else
			#foreach ($package in $packages)
				<div class="col-lg-6 formlist">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" name="services" value="${package.getName()}">
						</span>
						<span class="form-control">${package.getName()}</span>
					</div><!-- /input-group -->	
				</div><!-- /.col-lg-6 -->
			#end
		#end
		</div>
	</form>
	</fieldset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    #if(! $services.isEmpty() )
    	<button type="button" class="btn btn-primary" data-ref="${template.name}/package/add" data-call-type="POST" data-target="#popModal" data-form="addService">Add package(s)</button>
    #end
</div>