<cc-title [title]="'Repositories'" titleIcon="fa-server"></cc-title>

<div class="row">
  <div class="col-md-3">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-9">
    <button [routerLink]="['new']" class="btn btn-success pull-right"><i class="fa fa-plus fa-fw"></i> Add a new Repository</button>
  </div>
</div>

<div class="row" *ngIf="!reposLoaded">
  <div class="col-sm-12">
    <div class="alert alert-info">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      Loading repositories...
    </div>
  </div>
</div>

<div class="row" *ngIf="reposLoaded && repos.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert-1">
      No repositories found
    </div>
  </div>
</div>

<div class="row" *ngIf="repos && repos.length > 0">
  <div *ngFor="let repo of repos" class="col-md-12 col-lg-6">
    <cc-panel [icon]="'fa-server'" [title]="repo.name" (onHeaderDblClick)="goToDetail(repo)">

      <li cc-panel-dropdown>
        <a [routerLink]="[repo.id, 'mirror', 'new']">New Repository</a>
      </li>
      <li class="divider" cc-panel-dropdown></li>

      <li cc-panel-dropdown>
        <a [routerLink]="[repo.name]">Edit Repository</a>
      </li>

      <li cc-panel-dropdown>
        <a href="javascript:void(0)" mwlConfirmationPopover
           [popoverTitle]="'Please verify!'"
           [popoverMessage]="'Are you sure you want to delete the following repository: <strong>'+ repo.name+'</strong>?'"
           confirmButtonType="danger"
           (confirm)="deleteRepo(repo.name)"
           [appendToBody]="true">
          Delete Repository
        </a>
      </li>

      <table class="table-responsive table table-striped table-hover dataTable" cc-panel-body>
        <thead *ngIf="repo.mirrors && repo.mirrors.length > 0">
          <tr>
            <th width="30px"></th>
            <th width="30px"></th>
            <th class="sorting_asc">Description</th>
            <th class="sorting">Path</th>
            <th width="15px"></th>
            <th width="15px"></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngIf="!repo.mirrors || repo.mirrors.length <= 0" class="warning">
          <td colspan="6" class="text-center">
            There are currently no mirrors defined.
          </td>
        </tr>
        <tr *ngFor="let mirror of repo.mirrors" [class.info]="mirror.id == repo.primaryMirror"
            (dblclick)="goToMirror(mirror)">
          <td>
            <i class="fa fa-desktop fa-fw"></i>
          </td>
          <td>
            <i class="fa fa-check fa-fw" *ngIf="mirror.id === repo.primaryMirror"></i>
          </td>
          <td>
            {{mirror.description}}
          </td>
          <td>
            {{ mirror.path }}
            <a title="Go to Mirror" target="_blank" [href]="mirror.path"><i class="fa fa-external-link fa-fw"></i></a>
          </td>
          <td>
            <a title="Edit Mirror" [routerLink]="[repo.name,'mirror', mirror.id]"><i class="fa fa-edit fa-fw"></i></a>
          </td>
          <td>
            <a href="javascript:void(0)" mwlConfirmationPopover
              title="Delete Mirror"
              [popoverTitle]="'Please verify!'"
              [popoverMessage]="'Are you sure you want to delete the following mirror: '+ mirror.description+'?'"
              placement="left"
              confirmButtonType="danger"
              (confirm)="deleteMirror(mirror.id)">
              <i class="fa fa-trash-o fa-fw"></i>
            </a>
          </td>
        </tr>
        <tr title="Add Mirror" [routerLink]="[this.repo.name, 'mirror', 'new']" role="button">
          <td colspan="2"><i class="fa fa-plus fa-fw"></i></td>
          <td colspan="4">Add new mirror</td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>
</div>
