<a class="backButton" href="/web/templates#$tname"><span>Back</span> </a>
#if( $newError )
<div class="info_container">
	<p>$newError</p>
</div>
#end
<form action="/web/templates/$tname/edit" method="post">
	<div class="segment_container">
		<h2>Add a new template :</h2>
		<div class="segment_content">
			<h3>Service information</h3>
			<table class="install_status">
				<tr>
					<td>Template name:</td>
					<td><input style="width: 100%;" name="templatename" type="text"
						value="$templatename" /></td>
				</tr>
				<tr>
					<td>Yum server:</td>
					<td><select name="yum" size="1" style="width: 100%;">
						<option selected="selected">- none -</option>
						#foreach ($ya in $yumAvailable)
							<option value="$ya.getId()" #if ($yumSelected == $ya.getYumPath()) selected="selected" #end>$ya.getYumPath()</option>
						#end
					</select></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input style="width: 100%;" name="description" type="text"
						value="$description" /></td>
				</tr>
				#if ($serverOptions.allowautoupdate)
				<tr>
					<td>Autoupdate:</td>
					<td><input type="checkbox" name="autoupdate"
						value="true" #if($autoupdate)checked="checked"#end /></td>
				</tr>
				#end
			</table>
		</div>
		<p>
			<input type="submit" value="Save template" />
		</p>
	</div>
</form>