<div class="row">
  <div class="col-md-12">
    <cc-panel [title]="'Installed packages'" icon="fa-book">
      <li cc-panel-dropdown>
        <a role="button" href="javascript:void(0)" (click)="exportFile()">
          <i class="fa fa-download" aria-hidden="true"></i>
          Export JSON
        </a>
      </li>

      <div class="table-responsive" cc-panel-body>
        <table class="table-condensed table table-striped table-hover dataTable">
          <thead>
            <tr>
              <th style="width: 15px"><input type="checkbox" [(ngModel)]="allSelected" title="Select all packages"></th>
              <th class="sorting_asc">Package-Name</th>
              <th class="sorting">Installed</th>
              <th class="sorting">Latest in range</th>
              <th style="width: 15px"></th>
            </tr>
          </thead>
          <tbody>
            @if (packageVersions.length <= 0) {
              <tr class="warning">
                <td colspan="7" class="text-center">
                  There are currently no packages installed.
                </td>
              </tr>
            }
            @for (pv of packageVersions; track pv) {
              <tr [class.warning]="pvInRange && !isPkgLatestInRange(pv)">
                <td>
                  <input type="checkbox" value="{{pv.pkg}}" [checked]="pv.selected" (change)="selectPackage(pv, $event)">
                </td>
                <td>
                  {{pv.pkg}}
                  <a [routerLink]="['/package', pv.pkg]" title="Show Package"><i class="fa fa-external-link fa-fw"></i></a>
                </td>
                <td>
                  @if (pvAvailable) {
                    <cc-inlineedit [value]="pv.version" [options]="pvAvailable[pv.pkg]" (onSave)="updatePackageVersion(pv.pkg, $event)">
                    </cc-inlineedit>
                  } @else {
                    {{pv.version}}
                  }
                </td>
                <td>
                  @if (pvInRange && getLatestPkgInRange(pv); as latest) {
                    <span>
                      {{latest}}
                      @if (pvInRange && !isPkgLatestInRange(pv)) {
                        <a (click)="updatePackage(pv)" class="pull-right" role="button"
                          [title]="'Update \'' + pv.pkg + '\' to \'' + latest + '\''">
                          <i class="fa fa-refresh fa-fw"></i>
                        </a>
                      }
                    </span>
                  }
                </td>
                <td>
                  <a role="button" mwlConfirmationPopover
                    [attr.title]="'Remove package \'' + pv.pkg + '\' from template'"
                    [popoverTitle]="'Please verify!'"
                    [popoverMessage]="'Are you sure you want to remove the package \'' + pv.pkg + '\' from the template?'"
                    placement="left"
                    confirmButtonType="danger"
                    (confirm)="removePackage(pv)">
                    <i class="fa fa-trash-o fa-fw"></i>
                  </a>
                </td>
              </tr>
            }

            @if (newPackage) {
              <tr>
                <td colspan="7">
                  <label class="control-label">
                    <i class="fa fa-plus fa-fw"></i>
                    Add package to template
                  </label>
                  <div class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-6">
                        <select class="form-control" id="pkg" [(ngModel)]="newPackage.pkg" (ngModelChange)="onPackageChange()">
                          @for (pkg of getInstallablePackages(); track pkg) {
                            <option value="{{pkg}}">{{pkg}}</option>
                          }
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <select class="form-control" id="version" [(ngModel)]="newPackage.version" [disabled]="!newPackage.pkg">
                          @for (version of getAvailableVersionStrings(newPackage.pkg); track version) {
                            <option value="{{version}}">
                              {{version}}
                            </option>
                          }
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right">
                    <button (click)="cancelAddPackage()" class="btn btn-default">Cancel</button>
                    <button (click)="addNewPackage()" class="btn btn-success" [disabled]="!newPackage.pkg || !newPackage.version">
                      Add
                    </button>
                  </div>
                </td>
              </tr>
            }

            @if (!newPackage) {
              <tr (click)="goToAddPackage()">
                <td colspan="7" role="button">
                  <i class="fa fa-plus fa-fw"></i>
                  Add package to template
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="pull-left form-inline" cc-panel-body>
        @if (!importing) {
          <div class="form-group">
            <label class="control-label" for="importFile">Import file</label>
            <input type="file" class="form-control" id="importFile" (change)="importJSONFile($event)"/>
          </div>
        } @else {
          <i class="fa fa-spinner fa-pulse fa-fw"></i>
          Importing
        }

      </div>

      @if (packageVersions && packageVersions.length > 0) {
        <div class="pull-right" cc-panel-body>
          <button (click)="updateSelected()" class="btn btn-success" [disabled]="!isPkgSelected()">
            <i class="fa fa-refresh fa-fw"></i>
            Update selected
          </button>
          <button class="btn btn-danger" [disabled]="!isPkgSelected()" mwlConfirmationPopover
            [attr.title]="'Remove packages from template'"
            [popoverTitle]="'Please verify!'"
            [popoverMessage]="'Are you sure you want to remove all selected packages from the template?'"
            confirmButtonType="danger"
            (confirm)="removeSelected()">
            <i class="fa fa-trash-o fa-fw"></i>
            Remove selected
          </button>
        </div>
      }
    </cc-panel>
  </div>
</div>
