<cc-title title="Template Details" titleIcon="fa-institution" [subtitle]="currentTemplate.name" [reloadable]="true"
          (onreload)="reloadTemplate()"></cc-title>

<div class="row">
  <div class="col-md-8">
    <template-packages [obsTemplate]="template"></template-packages>
    <template-agentoptions [obsTemplate]="template"></template-agentoptions>
  </div>

  <div class="col-md-4">

    <template-metadata [obsTemplate]="template" [mode]="modes.EDIT"></template-metadata>

    <div class="row">
      <div class="col-md-12">
        <cc-panel [title]="'Hosts'" icon="fa-laptop" [collapsable]="true">
          <div cc-panel-body>
            <div class="alert alert-warning" *ngIf="!currentTemplate.hosts || currentTemplate.hosts.length <= 0">
              There are currently no host using this template.
            </div>
            <table class="table-condensed table-responsive table table-striped table-hover"
                   *ngIf="currentTemplate.hosts && currentTemplate.hosts.length > 0">
              <thead>
              <tr>
                <th>Agent-Name</th>
                <th width="15px"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let host of currentTemplate.hosts">
                <td>{{host}}</td>
                <td>
                  <a [routerLink]="['/host',host]"><i class="fa fa-external-link fa-fw" title="Jump to host"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </cc-panel>
      </div>
    </div>
  </div>

</div>
