<cc-title [title]="'Templates'" titleIcon="fa-institution"></cc-title>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-6 col-lg-3">
    <cc-filter mode="select" label="Repository" [data]="repos" [dataField]="'name'"
               (onQueryChange)="repoQuery = $event"></cc-filter>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="row pull-right">
      <div class="col-sm-6">
        <button [routerLink]="['diff']" class="btn btn-default pull-right">
          <i class="fa fa-columns fa-fw"></i> Compare Templates
        </button>
      </div>
      <div class="col-sm-6">
        <button [routerLink]="['new']" class="btn btn-success pull-right">
          <i class="fa fa-plus fa-fw"></i> Add a new Template
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!templatesLoaded">
  <div class="col-sm-12">
    <div class="alert alert-info">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      Loading templates...
    </div>
  </div>
</div>

<div class="row" *ngIf="templatesLoaded && templates.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert">
      No templates found
    </div>
  </div>
</div>

<div class="row" *ngIf="templates && templates.length > 0">
  <div class="col-md-12">
    <cc-panel [icon]="'fa-institution'" [title]="'All available templates'">

      <li cc-panel-dropdown>
        <a [routerLink]="['new']">New template</a>
      </li>

      <li class="divider" cc-panel-dropdown></li>

      <li cc-panel-dropdown>
        <a href="javascript:void(0)" mwlConfirmationPopover
           [popoverTitle]="'Please verify!'"
           [popoverMessage]="'Are you sure you want to delete <strong>all<strong> templates?'"
           confirmButtonType="danger"
           (confirm)="deleteAllTemplates()"
           [appendToBody]="true">
          Delete all templates
        </a>
      </li>

      <div class="table-responsive" cc-panel-body>
        <table class="table table-striped table-hover dataTable" >
          <thead>
          <tr>
            <th class="sorting_asc" style="width: 5px"></th>
            <th class="sorting_asc" style="width: 30%">Template</th>
            <th class="text-right sorting"># Hosts</th>
            <th class="text-right sorting"># Packages</th>
            <th>Repos</th>
            <th style="width: 15px"></th>
            <th style="width: 15px"></th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-treeElement [ngForOf]="templateTree">
            <tr *ngIf="treeElement.group" class="info" (click)="treeElement.expanded = !treeElement.expanded">
              <td *ngIf="treeElement.expanded"><i class="fa fa-folder-open" aria-hidden="true"></i></td>
              <td *ngIf="!treeElement.expanded"><i class="fa fa-folder" aria-hidden="true"></i></td>
              <td colspan="6">{{treeElement.group}}</td>
            </tr>
            <tr *ngFor="let template of treeElement.templates" (dblclick)="gotoDetails(template)"
                [class.warning]="template.hostCount < 1"
                [class.danger]="template.hostCount < 1 && template.packageCount < 1"
                [hidden]="treeElement.group != '' && !treeElement.expanded">

              <td *ngIf="!treeElement.group" colspan="2">{{template.name}}</td>
              <td *ngIf="treeElement.group"></td>
              <td *ngIf="treeElement.group">{{template.name}}</td>
              <td class="text-right">
                {{template.hostCount}}
              </td>
              <td class="text-right">
                {{template.packageCount}}
              </td>
              <td>
                {{template.repos.join(", ")}}
              </td>
              <td>
                <a title="Edit Template" [routerLink]="[template.name]"><i class="fa fa-edit fa-fw"></i></a>
              </td>
              <td>
                <a href="javascript:void(0)" mwlConfirmationPopover
                   title="Delete Template"
                   [popoverTitle]="'Please verify!'"
                   [popoverMessage]="'Are you sure you want to delete the following template: '+ template.name+'?'"
                   placement="left"
                   confirmButtonType="danger"
                   (confirm)="deleteTemplate(template)">
                  <i class="fa fa-trash-o fa-fw"></i>
                </a>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </cc-panel>
  </div>
</div>
