<cc-title title="Templates" titleIcon="fa-institution"></cc-title>

<div class="row">
  <div class="col-md-4">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-8">
    <button [routerLink]="['new']" [queryParams]="{'ret':'ov'}" class="btn btn-default pull-right">
      Add a new Template
    </button>
  </div>
</div>

<div class="row" *ngIf="templates.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert-1">
      There are currently no templates defined.<br/>
      <a [routerLink]="['new']" [queryParams]="{'ret':'ov'}">Add a new template</a>
    </div>
  </div>
</div>

<div class="row" *ngIf="templates && templates.length > 0">
  <div class="col-md-12">
    <cc-panel [icon]="'fa-institution'" [title]="'All available templates'">

      <li cc-panel-dropdown>
        <a [routerLink]="['new']" [queryParams]="{'ret':'ov'}">New template</a>
      </li>

      <li class="divider" cc-panel-dropdown></li>

      <li cc-panel-dropdown>
        <a href="javascript:void(0)" mwlConfirmationPopover
           [title]="'Please verify!'"
           [message]="'Are you sure you want to delete <strong>all<strong> templates?'"
           confirmButtonType="danger"
           (confirm)="deleteAllTemplates()"
           [appendToBody]="true">
          Delete all templates
        </a>
      </li>

      <table class="table-responsive table table-striped table-hover" cc-panel-body>
        <thead>
        <tr>
          <th width="30%">Template</th>
          <th># Hosts</th>
          <th># Packages</th>
          <th>Repos</th>
          <th width="15px"></th>
          <th width="15px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of templates" (dblclick)="gotoDetails(template)"
            [class.warning]="template.hosts.length < 1"
            [class.danger]="template.hosts.length < 1 &&countVersion(template.versions) < 1">
          <td>
            {{template.name}}
          </td>
          <td>
            {{template.hosts.length}}
          </td>
          <td>
            {{countVersion(template.versions)}}
          </td>
          <td>
            <ng-template ngFor let-repo [ngForOf]="template.repos" let-last="last">
              {{repo}}
              <ng-template [ngIf]="!last"><br/></ng-template>
            </ng-template>
          </td>
          <td>
            <a title="Edit Template" [routerLink]="[template.name]" [queryParams]="{'ret':'ov'}"><i class="fa fa-edit fa-fw"></i></a>
          </td>
          <td>
            <a href="javascript:void(0)" mwlConfirmationPopover
              title="Delete Template"
              [title]="'Please verify!'"
              [message]="'Are you sure you want to delete the following template: '+ template.name+'?'"
              placement="left"
              confirmButtonType="danger"
              (confirm)="deleteTemplate(template)">
              <i class="fa fa-trash-o fa-fw"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>
</div>
