<div class="row">
  <div class="col-md-12">
    <cc-panel [title]="'Template details'" icon="fa-institution" [collapsable]="true">
      <form [formGroup]="templateForm" novalidate (ngSubmit)="saveTemplateMetadata(templateForm.value)" cc-panel-body>
        <div class="form-group" [ngClass]="{ 'has-error': !templateForm.controls.name.pristine && !templateForm.controls.name.valid }">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" [readOnly]="mode == modes.EDIT">
          <span *ngIf="!templateForm.controls.name.pristine && !templateForm.controls.name.valid" class="help-block">
            This field is required
          </span>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea type="text" class="form-control" formControlName="description" id="description" rows="3">
          </textarea>
        </div>

        <div class="form-group" *ngIf="settings.allowautoupdate">
          <label for="autoupdate">
            <input type="checkbox" id="autoupdate" formControlName="autoUpdate">
            Allow automated package updates for this template</label>
        </div>

        <div class="form-group">
          <label for="smoothupdates">
            <input type="checkbox" id="smoothupdates" formControlName="smoothUpdate">
            Minimize overall downtime on package changes </label>
        </div>

        <div class="form-group" *ngIf="mode == modes.NEW">
          <label for="copypackages">Copy behaviour from </label>
          <select class="form-control" formControlName="copyFrom" id="copypackages">
            <option value="" selected>None</option>
            <option *ngFor="let existingTemplate of existingTemplateNames" value="{{existingTemplate}}">
              {{existingTemplate}}
            </option>
          </select>
        </div>

        <cc-panel [title]="'Repositories'" icon="fa-server" [collapsable]="true">
          <table class="table-responsive table table-striped table-hover" cc-panel-body
                 *ngIf="mode == modes.EDIT || (mode == modes.NEW && !copyFrom)">
            <tbody>
            <tr *ngIf="!template.repos || template.repos.length <= 0" class="danger">
              <td colspan="3" class="text-center">
                There are currently no repositories selected.
              </td>
            </tr>
            <tr *ngFor="let repo of template.repos">
              <td>
                {{repo}}
              </td>
              <td width="30px">
                <a [routerLink]="['/repo',repo]" [queryParams]="{'ret':'templateDetail', 'id':repo}"><i
                  class="fa fa-external-link fa-fw" title="Show repo"></i></a>
              </td>
              <td width="30px">
                <a href="javascript:void(0)" mwlConfirmationPopover
                   [title]="'Please verify!'"
                   [message]="'Are you sure you want to remove the following repo and it\'s packages from the template?'"
                   placement="left"
                   confirmButtonType="danger"
                   (confirm)="removeRepo(repo)">
                  <i class="fa fa-trash-o fa-fw" title="Remove repo from template"></i>
                </a>
              </td>
            </tr>

            <tr *ngIf="showNewRepo">
              <td colspan="3">
                <div class="form-group">
                  <label class="control-label" for="addrepo"><i class="fa fa-plus fa-fw"></i> Add a repository</label>
                  <div *ngIf="allRepos.length < 1" class="alert alert-warning">
                    There are currently no more repositories available
                  </div>
                  <select *ngIf="allRepos.length > 0" class="form-control" formControlName="newRepo" id="addrepo">
                    <option value="" selected>
                    </option>
                    <option *ngFor="let rep of allRepos" value="{{rep.name}}">{{rep.name}}</option>
                  </select>
                </div>

                <div class="pull-right">
                  <button type="button" (click)="showNewRepo = false" class="btn btn-default">Cancel</button>
                  <button type="button" (click)="addNewRepo(templateForm.controls.newRepo.value)" class="btn btn-success"
                          [disabled]="!newRepo || allRepos.length < 1">Add
                  </button>
                </div>
              </td>
            </tr>

            <tr *ngIf="!showNewRepo" (click)="goToAddRepo()">
              <td colspan="3" role="button"><i class="fa fa-plus fa-fw"></i>
                Add a repository
              </td>
            </tr>

            </tbody>
          </table>

          <div class="alert alert-warning" cc-panel-body *ngIf="mode == modes.NEW && copyFrom.value !== ''">
            The repositories will be copied from the template {{copyFrom}}
          </div>
        </cc-panel>

        <div class="pull-right">
          <a *ngIf="mode == modes.NEW" class="btn btn-default" [routerLink]="['/template']" role="button">
            Cancel
          </a>
          <button type="submit" class="btn btn-info" title="Save Template" [disabled]="templateForm.invalid">
            Save
          </button>
          <button *ngIf="mode == modes.EDIT" type="button" class="btn btn-danger" mwlConfirmationPopover
                  title="Delete Template"
                  [title]="'Please verify!'"
                  [message]="'Are you sure you want to remove this template and its configuration?'"
                  placement="left"
                  confirmButtonType="danger"
                  (confirm)="deleteTemplate()">
                  Delete
          </button>
        </div>

      </form>
    </cc-panel>
  </div>
</div>
