<a class="backButton" href="/web/options"><span>Back</span>
</a>
#if ($error) 
<div class="info_container" id="error">
	<p>$error</p>
</div>
#end
<div class="segment_container">
	<h2>Add additional links :</h2>

	<form action="/web/options/add" method="post">
		<div class="segment_content">
			<table class="install_status">
				<tr>
					<td align="right">Label:</td>
					<td><input style="width: 100%;" name="label" type="text"
						#if($label) value="$label" #end /></td>
				</tr>
				<tr>
					<td align="right">Link:</td>
					<td><input style="width: 100%;" name="link" type="text"
						#if($link) value="$link" #end /></td>
				</tr>
			</table>
		</div>
		<p>
			<input type="submit" value="Add Link" />
		</p>
	</form>
</div>
