
<div class="hmenu_left">
	<a class="backButton" href="/web"><span>Back to Home</span> </a>
</div>

<div class="info_container">
	<p>This page shows all options for the CloudConductor.</p>
</div>

<div class="segment_container">
	<h2>Options</h2>

	<form action="/web/options/save" method="post"
		enctype="application/x-www-form-urlencoded">

		<div class="segment_content">
			<table class="install_status">
				<tr>
					<td align="left">Name:</td>
					<td><input style="width: 100%;" name="name" type="text"
						#if($options.name) value="$options.name" #end />
					</td>
				</tr>
				<tr>
					<td align="left">Background-Color:</td>
					<td><input style="width: 100%;" name="bgcolor" type="text"
						#if($options.bgcolor) value="$options.bgcolor" #end />
					</td>
				</tr>
				<tr>
					<td align="left">Allow Auto Update:</td>
					<td align="left"><input type="checkbox"
						name="allowautoupdate" #if($options.allowautoupdate) checked="checked" #end/></td>
				</tr>
			</table>
		</div>
		<div class="segment_content">
		<h3>Description</h3>
			<div align="center">
				<textarea class="file_input" name="description" rows="8" wrap='off'>#if($options.description)$options.description#end</textarea>
			</div>
		</div>
		<div align="right">
			<input type="submit" value="Submit" />
		</div>
	</form>
	<div class="segment_content">
		<h3>Additional Links within 'others' category</h3>
		<table class="install_status">
			<tr>
				#if( $links.isEmpty() )
				<th>Currently none in use</th> #else
				<th>Label</th> 
				<th>Link</th>#end
				<th width="5%"><a href="/web/options/add"><img
						src="$imgdir/add_att.png" alt="Add link" name="Add link"
						title="Add link" /> </a>
				</th>
			</tr>
			#foreach( $link in $links )
			<tr>
				<td>$link.label</td>
				<td>$link.url</td>
				<td class="button"><a
					href="/web/options/$link.label/delete"><img
						src="$imgdir/delete_edit.png" alt="Remove link"
						name="Remove link" title="Remove link" /> </a>
				</td>
			</tr>
			#end
		</table>
	</div>
</div>
