<cc-title [title]="formTitle" [titleIcon]="'fa-plus'"></cc-title>

<form class="form-horizontal" [formGroup]="fileForm" novalidate (ngSubmit)="saveFile(fileForm.value)">
  <div class="row">
    <div class="col-lg-6">
      <cc-panel [title]="formTitle" [icon]="'fa-plus'">

        <div cc-panel-body>

          <div class="form-group"
               [ngClass]="{ 'has-error': !fileForm.controls.name.pristine && !fileForm.controls.name.valid }">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
              <input id="name" type="text" formControlName="name" class="form-control" placeholder="SomeFile">
              <span *ngIf="!fileForm.controls.name.pristine && !fileForm.controls.name.valid" class="help-block">
                This field is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="type" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
              <select id="type" formControlName="type" class="form-control">
                <option value="File">File</option>
                <option value="Directory">Directory</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div [ngClass]="{ 'has-error': !fileForm.controls.owner.pristine && !fileForm.controls.owner.valid }">
              <label for="owner" class="col-md-2 control-label">Owner</label>
              <div class="col-md-2">
                <input id="owner" type="text" class="form-control" formControlName="owner" placeholder="root">
              </div>
            </div>

            <div [ngClass]="{ 'has-error': !fileForm.controls.group.pristine && !fileForm.controls.group.valid }">
              <label for="group" class="col-md-2 control-label">Group</label>
              <div class="col-md-2">
                <input id="group" type="text" class="form-control" formControlName="group" placeholder="root">
              </div>
            </div>

            <div [ngClass]="{ 'has-error': !fileForm.controls.fileMode.pristine && !fileForm.controls.fileMode.valid }">
              <label for="group" class="col-md-2 control-label">File Mode</label>
              <div class="col-md-2">
                <input id="fileMode" type="text" class="form-control" formControlName="fileMode" maxlength=3>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="isTemplate" class="col-md-2 control-label">Is template</label>
            <div class="col-md-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="isTemplate" aria-label="Is Template" formControlName="isTemplate">
                </label>
              </div>
            </div>
            <label for="isReloadable" class="col-md-2 control-label">Is reloadable</label>
            <div class="col-md-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="isReloadable" aria-label="Is reloadable" formControlName="isReloadable">
                </label>
              </div>
            </div>
          </div>

          <div class="form-group"
               [ngClass]="{ 'has-error': !fileForm.controls.targetPath.pristine && !fileForm.controls.targetPath.valid }">
            <label for="targetPath" class="col-md-2 control-label">Target Path</label>
            <div class="col-md-10">
              <input id="targetPath" type="text" class="form-control" formControlName="targetPath"
                     placeholder="/opt/somepath/filename.ending">
              <span *ngIf="!fileForm.controls.targetPath.pristine && !fileForm.controls.targetPath.valid"
                    class="help-block">
                  Please enter a valid absolute path starting with '/'.
                </span>
            </div>
          </div>

          <div class="form-group" [hidden]="(serviceNames | async)?.length < 1">
            <label for="serviceDep" class="col-md-2 control-label">Service Dependencies</label>
            <div class="col-md-10">
              <select id="serviceDep" multiple class="form-control" formControlName="dependentServices">
                <option *ngFor="let serviceDep of serviceNames | async" [ngValue]="serviceDep">{{ serviceDep }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="templates" class="col-md-2 control-label">Used by templates</label>
            <div class="col-md-10">
              <select id="templates" multiple class="form-control" formControlName="templates">
                <option *ngFor="let template of templateNames | async" [ngValue]="template">{{ template }}</option>
              </select>
            </div>
          </div>
        </div>


      </cc-panel>

      <div class="form-group">
        <div class="col-md-12">
          <div class="pull-right">
            <a class="btn btn-default" role="button" [routerLink]="['/files']">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary" role="button" [disabled]="fileForm.invalid">
              <span *ngIf="createMode">Create</span>
              <span *ngIf="!createMode">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" *ngIf="fileForm.value.type !== 'Directory'">
      <cc-panel [title]="'File Content'" [icon]="'fa-plus'">
              <textarea id="fileContent" class="form-control" cols="30" rows="25"
                        formControlName="fileContent" cc-panel-body></textarea>
      </cc-panel>
    </div>

  </div>
</form>
