<cc-title [title]="'New File'" [titleIcon]="'fa-plus'"></cc-title>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <cc-panel [title]="'New File'" [icon]="'fa-plus'">
      <div class="form-horizontal" cc-panel-body>

        <div class="form-group">
          <label for="type" class="col-md-2 control-label">Type</label>
          <div class="col-md-10">
            <div class="radio">
              <label>
                <input type="radio" name="type" id="typeFile" value="File" aria-label="File" [checked]="!file.isDirectory"
                  (change)="file.isDirectory = !file.isDirectory">
                File
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="type" id="typeDirectory" value="Directory" aria-label="directory" [checked]="file.isDirectory"
                  (change)="file.isDirectory = !file.isDirectory">
                Directory
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-md-2 control-label">Name</label>
          <div class="col-md-10">
            <input id="name" type="text" [(ngModel)]="file.name" class="form-control">
          </div>
        </div>

        <div class="form-group">
            <label for="owner" class="col-md-2 control-label">Owner</label>
            <div class="col-md-4">
              <input id="owner" type="text" class="form-control" [(ngModel)]="file.owner">
            </div>
            <label for="group" class="col-md-2 control-label">Group</label>
            <div class="col-md-4">
              <input id="group" type="text" class="form-control" [(ngModel)]="file.group">
            </div>
        </div>

        <div class="form-group">
            <label for="targetPath" class="col-md-2 control-label">Target Path</label>
            <div class="col-md-10">
              <input id="targetPath" type="text" class="form-control" [(ngModel)]="file.targetPath">
            </div>
        </div>

        <div class="form-group">
            <label for="services" class="col-md-2 control-label">Service Dependencies</label>
            <div class="col-md-10">
              <select id="services" multiple class="form-control">
                <option *ngFor="let service of serviceNames | async">{{ service }}</option>
              </select>
            </div>
        </div>

        <div class="form-group">
            <label for="servicesReload" class="col-md-2 control-label">Service to reload</label>
            <div class="col-md-10">
              <select id="servicesReload" multiple class="form-control">
                <option *ngFor="let service of serviceNames | async">{{ service }}</option>
              </select>
            </div>
        </div>

        <div *ngIf="!file.isDirectory" class="form-group">
            <label for="fileContent" class="col-md-2 control-label">File Content</label>
            <div class="col-md-10">
              <textarea id="fileContent" class="form-control" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="templates" class="col-md-2 control-label">Used by</label>
            <div class="col-md-10">
              <select id="templates" multiple class="form-control">
                <option *ngFor="let template of templateNames | async">{{ template }}</option>
              </select>
            </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <div class="pull-right">
              <a class="btn btn-default" role="button" [routerLink]="['/files']">
                Cancel
              </a>
              <button class="btn btn-success" role="button" (click)="createFile()">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </cc-panel>
  </div>
</div>
