<div class="row">
    <div class="col-md-12">
        Search: <input ng-model="query" type="text">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <cc-panelhead icon="fa-list-alt"
                title="Configuration values of '{{templateid}}'">
            <li><a href="#">Add new variable</a></li>
            <li class="divider" />
            <!-- TODO only if NOT global template -->
            <li><a href="#">Delete template</a></li>
            </cc-panelhead>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <td><b>Name</b></td>
                            <td><b>Value</b></td>
                            <td><b>Edit</b></td>
                            <td><b>Delete</b></td>
                            <tr
                                ng-repeat="(key, value) in config.configValues">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                                <td><a href="#/config/{{key}}/edit"><i
                                        class="fa fa-edit fa-fw" /></a></td>
                                <td><a
                                    ng-click="config.deleteKey(key)"><i
                                        class="fa fa-trash-o fa-fw" /></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button ng-click="config.saveChanges()">Save configuration</button>
        <button ng-click="config.load()">reset</button>
        <button ng-click="config.addKey('stiff', 'here')">add key</button>
    </div>
</div>