<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a new Directory</h4>
</div>
<div class="modal-body big">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end 
		<form id="files">
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('name'))has-error #end">
					<span class="input-group-addon">Directory-Name</span>
					<input type="text" class="form-control" name="name" type="text" #if(${ERROR.getFormParams().get('name')})value="${ERROR.getFormParams().get('name')}"#elseif(${DIRECTORY.name})value="${DIRECTORY.name}"#else placeholder="SomeDirectory" #end >
				</div>
			</div>

			<div class="col-lg-6 formlist">
				<div class="input-group #if($ERROR.hasError('owner'))has-error #end">
					<span class="input-group-addon">Owner</span>
					<input type="text" class="form-control" name="owner" type="text" #if(${ERROR.getFormParams().get('owner')})value="${ERROR.getFormParams().get('owner')}"#elseif(${DIRECTORY.owner})value="${DIRECTORY.owner}"#else placeholder="root" #end >
				</div>
			</div>
			<div class="col-lg-6 formlist">
				<div class="input-group #if($ERROR.hasError('group'))has-error #end">
					<span class="input-group-addon">Group</span>
					<input type="text" class="form-control" name="group" type="text" #if(${ERROR.getFormParams().get('group')})value="${ERROR.getFormParams().get('group')}"#elseif(${DIRECTORY.group})value="${DIRECTORY.group}"#else placeholder="root" #end >
				</div>
			</div>			
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('mode'))has-error #end">
					<span class="input-group-addon">Directory mode</span>
					<input type="text" class="form-control" name="mode" type="text" #if(${ERROR.getFormParams().get('mode')})value="${ERROR.getFormParams().get('mode')}"#elseif(${DIRECTORY.fileMode})value="${DIRECTORY.fileMode}"#else placeholder="755" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('targetPath'))has-error #end">
					<span class="input-group-addon">Target path</span>
					<input type="text" class="form-control" name="targetPath" type="text" #if(${ERROR.getFormParams().get('targetPath')})value="${ERROR.getFormParams().get('targetPath')}"#elseif(${DIRECTORY.targetPath})value="${DIRECTORY.targetPath}"#else placeholder="/opt/somepath/" #end >
				</div>
			</div>
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('depPackage'))has-error #end">
					<span class="input-group-addon">Dependency</span>
					<select class="form-control" name="depPackage" size="1">
						<option selected="selected">- none -</option>
						#foreach ($pkg in $PACKAGES)
							<option value="$pkg.name" 
							#if(${ERROR.getFormParams().get('depPackage')} && ${ERROR.getFormParams().get('depPackage')} == $pkg.name)
								selected="selected"
							#elseif(${DIRECTORY.pkg} == $pkg)
								selected="selected" 
							#end>$pkg.name</option>
						#end
					</select>
				</div>
			</div>
			
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('depServices'))has-error #end">
					<span class="input-group-addon">Services to reload </span>
					<select class="form-control" name="depServices" size="3" multiple>
						#foreach ($svc in $SERVICES)
							<option value="$svc.name" #if(${ERROR.getFormParams().get('depServices')} && ${ERROR.getFormParams().get('depServices').contains($svc.name)})
								selected="selected"
							#elseif(${DIRECTORY.dependentServices.contains($svc)})
								selected="selected" 
							#end>$svc.name</option>
						#end
					</select>
				</div>
			</div>
			<div class="col-lg-12 formlist">
				<div class="input-group #if($ERROR.hasError('templates'))has-error #end">
					<span class="input-group-addon">Used by </span>
					<select class="form-control" name="templates" size="3" multiple>
						#foreach ($temp in $TEMPLATES)
							<option value="$temp.name" #if(${ERROR.getFormParams().get('templates')} && ${ERROR.getFormParams().get('templates').contains($temp.name)})
								selected="selected"
							#elseif($DIRECTORY && ${temp.directory.contains($DIRECTORY)})
								selected="selected" 
							#end>$temp.name</option>
						#end
					</select>
				</div>
			</div>
		</form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    #if(${DIRECTORY})
    	<button type="button" class="btn btn-primary" data-ref="${DIRECTORY.name}/save" data-call-type="POST" data-toggle="modal" data-target="#popModal" data-form="files">Save</button>
    #else
    	<button type="button" class="btn btn-primary" data-ref="0/save" data-call-type="POST" data-toggle="modal" data-target="#popModal" data-form="files">Save</button>
    #end
</div>