<a class="backButton" href="/web/ssh#$owner"><span>Back</span>
</a>
<div class="segment_container">
	<h2>Add existing template to sshkey with owner $owner :</h2>

	<form action="/web/ssh/$owner/template/add" method="post">
		#if($templates.size() > 0)
		<p>
			<input type="submit" value="Add templates" />
		</p>
		#end
		<div class="segment_content">
			<table class="install_status">
				#foreach ($template in $sorterTool.sort($templates))
				<tr>
					<td width="5%" align="center"><input type="checkbox" name="templates" value="$template">
					</td>
					<td>$template</td>
				</tr>
				#end
			</table>
		</div>
		#if($templates.size() > 0)
		<p>
			<input type="submit" value="Add templates" />
		</p>
		#else
		<p>No unassigned templates available.</p>
		#end
	</form>
</div>
