<a class="backButton" href="/web/ssh#$owner"><span>Back</span> </a>
<div class="segment_container">
	<h2>Save SSH Key</h2>
	<div class="segment_content">
		<form
		#if (!$owner.isEmpty()) 
		action="/web/ssh/$owner/save"
		#else 
		action="/web/ssh/save"
		#end
		 method="post"
			enctype="application/x-www-form-urlencoded">
			<table class="install_status">
				<tr>
					<td align="right">Owner:</td>
					<td><input style="width: 100%;" name="owner" type="text"
						#if($owner) value="$owner" #end /></td>
				</tr>
				<tr>
					<td align="right">Key Content:</td>
					<td><textarea class="file_input" name="key_content" rows="10"
							style="width: 100%;" wrap='off'>#if($key)$key#end</textarea>
				</tr>
			</table>

			<h3>Assign to templates:</h3>
			<div class="segment_content">
				<table class="install_status">
					#foreach ($template in $templates)
					<tr>
						<td width="5%" align="center"><input type="checkbox" name="templates"
							value="$template.key" #if($template.value) checked="checked" #end>
						</td>
						<td>$template.key</td>
					</tr>
					#end
				</table>
			</div>
			<div align="right">
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>