#set( $imgdir = "../images" )
<div class="hmenu_left">
	<a class="backButton" href="/web"><span>Back to Home</span> </a>
	<a class="backButton" href="/web/ssh/add"><span>Add SSHKey</span> </a>
	<a class="backButton" href="/web/ssh"><span>by owner View</span> </a>
</div>

<div class="info_container">
	<p>This page shows all ssh keys managed by the CloudConductor
		(sorted by template).</p>
</div>

	#foreach( $template in $templates )
	<div class="segment_container">
			<h2>
				<a name="$template.name">$template.name</a> 
			</h2>
			<div class="segment_content">
				<table class="install_status">
					<tr>
					#if( $template.keys.isEmpty() )
					<th>Currently no keys assigned to this template</th>
					#else
						<th>Key</th>
					#end
						<th width="5%"><a
							href="/web/ssh/$template.name/key/add"><img
								src="$imgdir/add_att.png" alt="Add key" name="Add key"
								title="Add key" /> </a>
						</th>
					</tr>
					#foreach( $key in $template.keys )
					<tr>
						<td>$key</td>
						<td class="button"><a
							href="/web/ssh/$key/template/$template.name/remove"><img
								src="$imgdir/delete_edit.png" alt="Remove template"
								name="Remove template" title="Remove template" /> </a>
						</td>
					</tr>
					#end
				</table>
			</div>
	</div>
	#end
