<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <ng-template [ngIf]="autorefresh">
        <i title="Page is updated automatically" class="fa fa-refresh pull-right" aria-hidden="true"></i>
        <span class="sr-only">Page is updated automatically</span>
      </ng-template>
      <i class="fa {{titleIcon}} fa-fw" *ngIf="titleIcon"></i>
      {{title}}
      <h4 *ngIf="subtitle">
        {{subtitle}}
        <ng-content select="[cc-subtitle-addition]"></ng-content>
      </h4>
    </h1>
  </div>
</div>
