<div class="form-group input-group">
  <label class="input-group-addon" for="labelquery">{{label}}</label>

  @if (mode === 'text' || mode === 'number') {
    <input [type]="mode" class="form-control" [(ngModel)]="query" id="labelquery" list="queryList">
    @if (data && data.length > 0) {
      <datalist id="queryList">
        @if (dataField) {
          @for (elem of data; track elem) {
            <option value="{{elem[dataField]}}"></option>
          }
        }
        @if (!dataField) {
          @for (elem of data; track elem) {
            <option value="{{elem}}"></option>
          }
        }
      </datalist>
    }
  }

  @if (mode === 'select') {
    <select class="form-control" [(ngModel)]="query" id="labelquery">
      <option [value]="''">None</option>
      @if (dataField) {
        @for (elem of data; track elem) {
          <option value="{{elem[dataField]}}">
            {{elem[dataField]}}
          </option>
        }
      }
      @if (!dataField) {
        @for (elem of data; track elem) {
          <option value="{{elem}}">{{elem}}</option>
        }
      }
    </select>
  }

</div>
