<div class="form-group input-group">
  <label class="input-group-addon" for="labelquery">{{label}}</label>

  <ng-template [ngIf]="mode === 'text'">
    <input type="text" class="form-control" [(ngModel)]="query" id="labelquery" list="queryList">
    <datalist id="queryList" *ngIf="data && data.length > 0">
      <ng-template [ngIf]="dataField">
        <option *ngFor="let elem of data" value="{{elem[dataField]}}"></option>
      </ng-template>
      <ng-template [ngIf]="!dataField">
        <option *ngFor="let elem of data" value="{{elem}}"></option>
      </ng-template>
    </datalist>
  </ng-template>

  <ng-template [ngIf]="mode === 'select'">
    <select class="form-control" [(ngModel)]="query" id="labelquery">
      <option [value]="''">None</option>
      <ng-template [ngIf]="dataField">
        <option *ngFor="let elem of data" value="{{elem[dataField]}}">{{elem[dataField]}}</option>
      </ng-template>
      <ng-template [ngIf]="!dataField">
        <option *ngFor="let elem of data" value="{{elem}}">{{elem}}</option>
      </ng-template>
    </select>
  </ng-template>

</div>
