<form [formGroup]="keyForm" novalidate (ngSubmit)="save(keyForm.value)">
  <div class="form-group" [ngClass]="{ 'has-error': !keyForm.controls.owner.pristine && !keyForm.controls.owner.valid }">
      <label for="owner" class="control-label">Owner</label>
      <input id="owner" type="text" class="form-control" formControlName="owner" placeholder="name@company" [readonly]="!isCreate">
      <span *ngIf="!keyForm.controls.owner.pristine && !keyForm.controls.owner.valid" class="help-block">
        Please enter a valid email address of the owner.
      </span>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': !keyForm.controls.username.pristine && !keyForm.controls.username.valid }">
      <label for="username" class="control-label">User</label>
      <input id="username" type="text" class="form-control" formControlName="username">
      <span *ngIf="!keyForm.controls.username.pristine && !keyForm.controls.username.valid" class="help-block">
          This field is required.
        </span>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': !keyForm.controls.key.pristine && !keyForm.controls.key.valid }">
      <label class="control-label" for="key">Key</label>
      <textarea id="key" class="form-control" formControlName="key" cols="30" rows="10">
      </textarea>
      <span *ngIf="!keyForm.controls.key.pristine && !keyForm.controls.key.valid" class="help-block">
        This field is required.
      </span>
  </div>

  <div class="form-group">
      <label for="templates" class="control-label">Templates</label>
      <select id="templates" multiple class="form-control" formControlName="templates">
        <option *ngFor="let templateName of templateNames | async" [ngValue]="templateName">
          {{ templateName }}
        </option>
      </select>
  </div>

  <div class="pull-right">
    <button type="reset" class="btn btn-default" role="button" (click)="cancel()">
      Cancel
    </button>
    <button type="submit" class="btn" [ngClass]="isCreate ? 'btn-success' : 'btn-primary'" role="button" [disabled]="keyForm.invalid">
      Save
    </button>
  </div>
</form>
