/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 10px 0;
}


.rel-anchor {
	position:relative; 
	top:-60px;
}

.labelclose {
	top:0px;
	border: 0px;
	padding: 1px 1px 1px 4px;
}

/* 
 * Navbar
 * --------------------------------------------------
 */

 .navbar-brand img {
	margin-top: -15px;
 }
 
 .navbar-default {
	background-color: #ffffff;
	margin-bottom: 0;
 }
 
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
 	background-color: #0096dc;
 	color: #ffffff;
 }
 .navbar-right>.active>a {
 	margin-top:-1px;
 }
 
 .subnavbar {
	border: 1px solid transparent;
	border-width: 0 0 1px;
	border-color: #e7e7e7;
	margin-top: -20px;
	margin-bottom: 20px;
	background-color: #eeeeee;	
 }
 
 .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;	
 }
 
 
 .jumbotron {
	padding-top: 0;
	padding-bottom: 0;
 }
 
 .jumbotron .c2-logo {
	padding-right: 20px;
 }
/* 
 * Panels
 * --------------------------------------------------
 */

.panel-body>.well-sm {
	margin-bottom: 0px;	
}

.small-footer {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align:right;
	background-color: #ffffff;
 }
 
 .info-footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #428bca;
	color: #ffffff;
	margin-top:-2px;
 }
 
 .tags-footer {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #428bca;
	color: #ffffff;
	margin-top:-2px;
	font-size: 12px;
 }
 
 .tags-footer>button {
	margin-bottom:1px;
 }
 
 .panel-heading {
	padding:0;
}

h3.panel-title {
	padding-top:10px;
	padding-bottom:10px;
	padding-right: 15px;
	padding-left: 15px;
}

h3.panel-title>small {
	color: #FFFFFF;
	padding-left: 10px;
}

.panel-heading>span.pull-right {
	margin-top: -33px;
	margin-right: 35px;
}

 .alternatebg:nth-child(odd) {
	/**background-color: #f9f9f9;*/
	background-color: #f0faff;
 }
  
th.actionButton, 
	td.actionButton {
	text-align: center;
	width: 5%;
}	

td.stateSymbol, td.stateSymbol {
	text-align: center;
	width: 5%;
	font-size: 16px;
	padding: 0;
	margin: 0;
}	

.panel .table {
	margin-bottom: 2px;
}

.label.label-default.tab {
	margin-right: 15%;
}

.table>tbody.small-lines>tr>td {
	padding-top: 4px;
	padding-bottom: 4px;
} 
span.form-control {
	overflow-x:auto;
}

span.form-control.small{
	overflow-x:hidden;
}

.formlist>.input-group {
	width:100%;
}

.formlist>.input-group>span.input-group-addon.small {
	width:50px;
}


.formlist>.input-group>span.input-group-addon {
	width:150px;
}
.formlist>.input-group>span.input-group-addon input[type="radio"], input[type="checkbox"] {
	text-align:right;
}
/* 
 * Sidebar
 * --------------------------------------------------
 */
.sidebar-offcanvas li.list-group-item {
	padding:4px;
	margin:0;
	border-top: 0px;
}

.sidebar-offcanvas li.list-group-item:first-child{
	border-top:1px solid #dddddd;
}


.sidebar-offcanvas li.list-group-item.active {
	border:1px solid #428bca;
	border-left:5px solid #428bca;
	background-color:inherit;
	color: #555555;
}

.sidebar>li>a {
	margin: -4px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.nav.affix {
	width:inherit;
	padding-right: 10px;
	padding-left: 15px;
	margin-left: -15px;
	top: 70px;
}

.nav.affix-top{
	margin-right: -15px;
}

.formlist {
	margin-bottom: 5px;
}

.modal-body { 
	overflow-y: auto;
	max-height:400px;
}

.modal-body.big { 
	overflow-y: auto;
	max-height:none;
}

.modal-title {
	text-align:center;
}

@media print {
	body * {
    	visibility:hidden;
    	text-align: center;
		font-size: 10px;
		font-family: verdana, helvetica, arial, sans-serif;
    } 
    
    #printable, #printable * {
        visibility:visible;
    }
    
    #printable { /* aligning the printable area */
       height: 100%;
       margin-top: -80px;
       margin-bottom: -80px;
   	}
   	
   	h1 {
   	   font-size: 14px;
   	   font-weight: bold;
   	}
   	table {
   		width: 100%;
   	}
	tr td.versionOk {
		width: 40%;
		text-align: left;
		color: #008209;
	}
	
	table.install_status tr td,table.service_status tr td {
		border: 1px dotted #dddddd;
		text-align: left;
	}
	tr td.signature {
		border-bottom: 1px solid black;
		empty-cells: show;
	}
	
	table.signature tr td {
		background-color: #e5eecc;
	}
	
	table.signature {
		margin: 5px 5px 10px 5px;
		border-collapse: separate;
		border-spacing: 10px;
	}

 }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}