
<a class="backButton" href="/web"><span>Back to Home</span>
</a>
<a class="backButton" href="/web/config/add"><span>Add Key</span></a>
<a class="backButton" href="/web/config/batchmod"><span>Batch modify config</span></a>

<div class="info_container">
	<p>Available templates:</p>
</div>
#set( $imgdir = "../images" )
<div class="hmenu">
	#foreach( $template in $templates )
		#if($template.equals($currentTemplate.name))
			<b href="/web/config/$template"><span>$listTool.get($template.split('\u002e'),0)</span></b>
		#else
			<a href="/web/config/$template"><span>$listTool.get($template.split('\u002e'),0)</span></a>
		#end
	#end 
	<!-- <a href="/web/config/key/add"><span>Add Key</span></a> -->
</div>

<div class="segment_container">
	<h2>
		$currentTemplate.name
		#if(!$currentTemplate.name.equals("GLOBAL")) <span
			class="defaultSize"> <a class="button"
			href="/web/config/$currentTemplate.name/delete"><span>Delete</span>
		</a> 
		#end
		 <span
			class="defaultSize"> <a class="button" href="/web/config/$currentTemplate.name/add"><span>Add Property</span></a> </span>
	</h2>
	<div class="segment_content">
	#foreach( $service in $currentTemplate.services.entrySet())
		<div class="service_box">
			#if($service.key)
			<h3>$service.key</h3>
			#else
			<h3>template properties</h3>
			#end
			<table>
				<tr>
					<th>Key</th>
					<th>Value</th>
					<th></th>
				</tr>
				#foreach($entry in $service.value)
				<tr>
					<td>$entry.key</td>
					<td><div class="long_cell">$entry.value</div>
					</td>
					<td><span> 
							<a 
							#if($service.key && !$service.key.isEmpty())
							href="/web/config/$currentTemplate.name/$service.key/$entry.key/edit"
							#else
							href="/web/config/$currentTemplate.name/$entry.key/edit"
							#end
							><img src="$imgdir/changeset_obj.gif" alt="Edit" name="Edit" /></a> 
						</span> 
						<span> 
							<a 
							#if($service.key && !$service.key.isEmpty())
							href="/web/config/$currentTemplate.name/$service.key/$entry.key/delete"	
							#else 
							href="/web/config/$currentTemplate.name/$entry.key/delete"
							#end
							id="delete"><img src="$imgdir/delete_edit.gif" alt="Delete"	name="Delete" /> </a> 
						</span>
					</td>
				</tr>
				#end
			</table>
			#if($service.key && !$service.key.isEmpty())
			<span class="alignRight"> <a class="button" href="/web/config/$currentTemplate.name/$service.key/add"><span>Add Property</span></a> </span>
			#else 
			<span class="alignRight"> <a class="button" href="/web/config/$currentTemplate.name/add"><span>Add Property</span></a> </span>
			#end
		</div>
	#end

	</div>
</div>