<cc-panel [title]="'User details'" icon="fa-user">
  <form [formGroup]="userForm" novalidate (ngSubmit)="saveUser(userForm.value)" cc-panel-body>
    <div class="form-group">
      <label for="loginName" class="control-label">Login</label>
      <input type="text" class="form-control" formControlName="loginName" id="loginName" [readOnly]="mode == modes.EDIT">
      <span *ngIf="!userForm.controls.loginName.pristine && !userForm.controls.loginName.valid" class="help-block">
        This field is required
      </span>
    </div>

    <div class="form-group">
      <label for="displayName" class="control-label">Name</label>
      <input type="text" class="form-control" formControlName="displayName" id="displayName">
    </div>

    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
    </div>

    <div class="form-group hidden">
      <label for="registrationDate" class="control-label">Registration Date</label>
      <input type="text" class="form-control" formControlName="registrationDate" id="registrationDate">
    </div>

    <div class="form-group hidden">
      <label for="active" class="control-label">Active</label>
      <input type="text" class="form-control" formControlName"active" id="active">
    </div>

    <cc-panel-list [title]="'Groups'" icon="fa-users" [type]="'group'"
      [elements]="user?.userGroups" [allElements]="allGroups" [showLinks]="true"
      (onAdd)="addNewGroup($event)" (onRemove)="removeGroup($event)">
    </cc-panel-list>

    <div class="form-group pull-right">
      <button type="button" class="btn btn-default" (click)="goBack()">
        <span *ngIf="mode === modes.NEW">Cancel</span>
        <span *ngIf="mode === modes.EDIT">Back</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
    </div>
  </form>
</cc-panel>
