<cc-panel [title]="'Agents'" icon="fa-user">
  @if ((userObs | async)?.agents; as agents) {
    <div cc-panel-body>
      <table class="table-responsive table table-striped table-hover dataTable">
        <tbody>
          @if (agents.length < 1) {
            <tr class="warning">
              <td>User has no agents</td>
            </tr>
          }
          @for (agent of agents; track agent) {
            <tr>
              <td>{{agent}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</cc-panel>
