 #if( $chooseError )
<div class="info_container">
	<p>$newError</p>
</div>
#end

<a class="backButton" href="/web/services#$serviceName"><span>Back</span>
</a>
<div class="segment_container">
	<h2>Add existing package to service to $serviceName :</h2>

	<form action="/web/services/$serviceName/package/add" method="post">
		#if($packages.size() > 0)
		<p>
			<input type="submit" value="Add package" />
		</p>
		#end
		<div class="segment_content">
			<table class="install_status">
				#foreach ($pkg in $sorterTool.sort($packages))
				<tr>
					<td width="5%" align="center"><input type="checkbox" name="pkg" value="$pkg">
					</td>
					<td>$pkg</td>
				</tr>
				#end
			</table>
		</div>
		#if($packages.size() > 0)
		<p>
			<input type="submit" value="Add package" />
		</p>
		#else
		<p>No unassigned services available.</p>
		#end
	</form>
</div>
