 #if( $chooseError )
<div class="info_container">
	<p>$newError</p>
</div>
#end
<a class="backButton" href="/web/services"><span>Back</span> </a>
<form action="/web/services/add" method="post">
	<div class="segment_container">
		<h2>Add a new service :</h2>
		<div class="segment_content">
			<h3>Service information</h3>
			<table class="install_status">
				<tr>
					<td>Service name:</td>
					<td><input style="width: 100%;" name="servicename" type="text"
						value="$servicename" />
					</td>
				</tr>
				<tr>
					<td>Initscript name:</td>
					<td><input style="width: 100%;" name="initscript" type="text"
						value="$initscript" />
					</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input style="width: 100%;" name="description" type="text"
						value="$description" />
					</td>
				</tr>
			</table>
		</div>

		<p>
			<input type="submit" value="Add service" />
		</p>

		<div class="segment_content">
			<h3>Available packages</h3>
			<table class="install_status">
				#foreach ($pkg in $sorterTool.sort($packages))
				<tr>
					<td width="5%" align="center"><input type="checkbox" name="pkg" value="$pkg">
					</td>
					<td>$pkg</td>
				</tr>
				#end
			</table>
		</div>
		<p>
			<input type="submit" value="Add service" />
		</p>
	</div>
</form>
