<a class="backButton" href="/web/files/byTemplate#$template"><span>Back</span>
</a>
<div class="segment_container">
	<h2>Add existing files to template: $template</h2>

	<form action="/web/files/$template/add" method="post">
		#if($files.size() > 0)
		<p>
			<input type="submit" value="Add files" />
		</p>
		#end
		<div class="segment_content">
			<table class="install_status">
			<tr>
				<th width="5%"></th>
				<th>Filename</th>
				<th>isTemplate</th>
				<th>Package</th>
				<th>Restarts</th>
			</tr>
			#foreach ($file in $files) 
			<tr>
				<td width="5%" align="center"><input type="checkbox" name="files" value="$file.name">
				<td>$file.name</td>
				<td><input type="checkbox" disabled="disabled"
					#if ($file.isTemplate)checked="checked" #end></td>
				<td>$file.package</td>
				#if (!$file.restarts.isEmpty()) 
				<td>$file.restarts</td>
				#else
				<td> - </td>
				#end
			</tr>
			#end
			</table>
		</div>
		#if($files.size() > 0)
		<p>
			<input type="submit" value="Add files" />
		</p>
		#else
		<p>No unassigned files available.</p>
		#end
	</form>
</div>
