<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modify the tags of "$FILE.name"</h4>
</div>
<div class="modal-body">
	<div class="alert alert-warning">Your are going to delete the tag <strong>${TAG.name}</strong>
	#if($FILES && !$FILES.isEmpty()) 
	 which is currently used by:<br />
	 	<ul>
		#foreach($file in $FILES) 
			<li>$file.name</li>
		#end
		</ul> 
	#else 
	.<br />
	#end 
	
	Is this correct?</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
   	<button type="button" class="btn btn-primary" data-ref="/web/tags/${FILEID}/${TAG.id}/delete" data-toggle="update-modal" data-call-type="POST" data-target="#popModal">Yes</button>
</div>