<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Create a new tag</h4>
</div>
<div class="modal-body">
#if( $ERROR )
	<div class="alert alert-danger">$ERROR.getMessage()</div>
#end
	
	<form id="tag">
		<div class="col-lg-12 formlist">
			<div class="input-group #if($ERROR.hasError('name'))has-error #end">
				<span class="input-group-addon">Tag-Name</span>
				<input type="text" class="form-control" name="name" type="text" #if(${ERROR.getFormParams().get('name')})value="${ERROR.getFormParams().get('name')}"#elseif(${FILE.name})value="${FILE.name}"#else placeholder="SomeTag" #end >
			</div>
		</div>
		<div class="col-lg-12 formlist">
			<div class="input-group #if($ERROR.hasError('type'))has-error #end">
				<span class="input-group-addon">Tag-Type</span>
				<select class="form-control" name="type" size="1">
					<option selected="selected">- none -</option>
					#foreach ($type in $TAGTYPES)
						<option value="${type.toString()}" 
						#if(${ERROR.getFormParams().get('type')} && ${ERROR.getFormParams().get('type')} == ${type.toString()})
							selected="selected"
						#end>${type.toString()}</option>
					#end
				</select>
			</div>
		</div>	
	</form>
	
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   	<button type="button" class="btn btn-primary" data-ref="/web/tags/${FILEID}/new" data-call-type="POST" data-toggle="update-modal" data-target="#popModal" data-form="tag">Save</button>
</div>