#foreach($template in $TEMPLATES) 
<div id="$key.owner" class="col-xs-12 col-sm-10 rel-anchor"></div>
<div class="col-xs-12 col-sm-12">       
	<div class="panel panel-primary">
		<div class="panel-heading panel-toggle" data-toggle="collapse" data-target="#${key.owner}-hide">
			<h3 class="panel-title">$template.name <span class="pull-right"><span class="caret"></span></span></h3>
			<span class="pull-right">
				<span class="btn-group">
					<a type="button" class="btn btn-default glyphicon glyphicon-folder-open" href="templates#${template.name}" rel="tooltip-down" title="Goto template ${template.name}"></a>
				</span>
			</span>
		</div>
		<div id="${key.owner}-hide" class="collapse in">
			
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Key</th>
					<th class="stateSymbol"><button class="btn btn-primary btn-xs glyphicon glyphicon-import" data-ref="${template.name}/key/add" data-toggle="modal" data-target="#popModal" data-call-type="GET" rel="tooltip-left" title="Add a key"></button></th>
				</tr>
			</thead>
			<tbody>
			#foreach($key in $KEYS)
				#if($template.getSshkeys().contains($key))
				<tr>
					<td>${key.owner}</td>
					<td class="stateSymbol"><button class="btn btn-primary btn-xs glyphicon glyphicon-trash" data-ref="${key.owner}/template/${template.name}/delete" data-toggle="modal" data-target="#popModal" data-call-type="GET" rel="tooltip-left" title="Delete Key"></button></td>
				</tr>
				#end
			#end
			</tbody>		
		</table>
		</div>
	</div>
</div>
#end