@import "../../../glob/_variables";

.alert-space {
  margin-top: 10px;
  margin-bottom: 0;
}

.allert-container {
  position: fixed;
  visibility: visible;
  width: calc(100vw - 40%);
  left: calc((100vw - (100vw - 40%)) / 2);
  top: 70px;
  z-index: 9000;
}
