<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/web2/images/favicon.ico"/>

	<!-- Bootstrap core CSS -->
    <link href="/web2/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/web2/css/offcanvas.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    
    <title>$C2InstanceOptions.name [CloudConductor]</title>
</head>

<body data-spy="scroll" data-target="#sidebar" data-offset="10"> 

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-color:#$C2InstanceOptions.bgcolor;">
    <div class="container">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	           	<span class="sr-only">Toggle navigation</span>
	           	<span class="icon-bar"></span>
	           	<span class="icon-bar"></span>
	           	<span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/web2"><img src="/web2/images/50x50.jpg" /><span style="color:#$C2InstanceOptions.bgcolor;">$C2InstanceOptions.name</span></a>
		</div>
    	<div class="collapse navbar-collapse">
        	<ul class="nav navbar-nav">
        		#foreach($element in $NAVELEMENT.getMainMenu())
        			<li #if(${element.getIdentifier()} == $CURRENTNAVELEMENT)class="active" #end><a href="/web2${element.getPath()}">${element.getIdentifier()}</a></li>
        		#end
        		
        		#foreach($mapEntry in $NAVELEMENT.getSubMenuCategories())
        			#set($activeClass = "")
        			#foreach($element in ${NAVELEMENT.getSubMenu($mapEntry)}) 
        				#if(${element.getIdentifier()} == $CURRENTNAVELEMENT) #set($activeClass = "active") #end
        			#end
        			<li class="dropdown $activeClass">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">${mapEntry.getViewName()} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							#foreach($element in ${NAVELEMENT.getSubMenu($mapEntry)})
								#if(${element.getPath().startsWith("http://")})
								<li #if(${element.getIdentifier()} == $CURRENTNAVELEMENT)class="active" #end><a href="${element.getPath()}" target="_blank">${element.getIdentifier()}</a></li>
								#else 
								<li #if(${element.getIdentifier()} == $CURRENTNAVELEMENT)class="active" #end><a href="/web2${element.getPath()}">${element.getIdentifier()}</a></li>
								#end
							#end
							#if(${mapEntry.getViewName()} == "Configuration" ) 
								 <li role="presentation" class="divider"></li>
								 <li><a data-ref="/web2/pkgsrv" data-call-type="GET" data-toggle='modal' data-target="#popModal">Package Servers</a></li>
								 <li><a data-ref="/web2/options" data-call-type="GET" data-toggle='modal' data-target="#popModal">Options</a></li>
								 <li role="presentation" class="divider"></li>
								 <li><a data-ref="/web2/options/links" data-call-type="GET" data-toggle='modal' data-target="#popModal">Links</a></li>
							#end
						</ul>
					</li>
        		#end 
          	</ul>
          	<ul class="nav navbar-nav navbar-right">
          	#foreach($element in ${TOPACTIONS})
          		<li><a href="#" rel="tooltip" data-ref="${element.value}" data-toggle="modal" data-target="#popModal" data-call-type="GET" data-original-title="${element.key}">${element.key}</a></li>
          	#end
            	<li id="autorefresh_button" #if($AUTOREFRESH)class="active"#end><a href="#" class="glyphicon glyphicon-refresh" rel="tooltip" data-ref="/web2/autorefresh/toggle" data-toggle="modal" data-call-type="POST" data-original-title="Toggle auto-refesh"></a></li>
          </ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->

<!-- breadcrumbs -->	
#if(! $BREDCRUMBS.isEmpty() )
<div class="subnavbar">
	<div class="container">
		<ol class="breadcrumb">
		#foreach( $crumb in $BREDCRUMBS)
			 #if($velocityCount != $BREDCRUMBS.size()) 
				<li><a href="$crumb.value">$crumb.key</a></li>
			#else 
				<li class="active">$crumb.key</li>
			#end
			
		#end
		#if (! $FILTERS.isEmpty())
		<li>
		<div class="btn-group btn-group-sm">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">$CURRENTFILTER <span class="caret"></span></button>
			 <ul class="dropdown-menu">
			 	#foreach($f in $FILTERS)
			 	<li><a href="?filter=$f.id">${f.getName()}</a></li>
			    #end
			 </ul>
		</div>
		</li>
		#end
		</ol>
		
	</div>
</div>
#end

<!-- Content -->
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		#if( $SIDEBARTYPE  && (! $SIDEBAR.isEmpty())) 
		<div class="col-xs-12 col-sm-10">
		#else
		<div class="col-xs-12 col-sm-12">
		#end
		#parse("/web/pages/${VIEWNAME}.vm")
		</div>
				
		#if( $SIDEBARTYPE == "SIMPLE") 
			#parse("/web/sidebar/simple.vm")
		#elseif($SIDEBARTYPE == "ALPHABETICAL")
			#parse("/web/sidebar/alphabetical.vm")
		#end
		
		
		<!-- Modal -->
		<div class="modal fade" id="popModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		     
		    </div>
		  </div>
		</div>
    </div>
</div>

<!-- Footer -->
<div class="container">
	<hr />
    <footer>
	    <p>&copy; 2012-2014 by Cinovo AG <a href="http://www.cinovo.de" target="_blank">http://www.cinovo.de</a></p>
  	</footer>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/web2/bootstrap/js/bootstrap.js"></script>
<script src="/web2/js/cloudconductor-web.js"></script>
</body>
</html>