<cc-title title="Edit Configuration Key-Value-Pair" titleIcon="fa-code-fork" *ngIf="mode == 'edit'"></cc-title>
<cc-title title="New Configuration Key-Value-Pair" titleIcon="fa-code-fork" *ngIf="mode == 'new'"></cc-title>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <cc-panel [title]="'Key-Value-Pair'" icon="fa-list-alt">

      <div cc-panel-body>
        <div class="form-group" [class.has-error]="!isKeyValid()">
          <label class="control-label" for="key">Key</label>
          <input type="text" class="form-control" [(ngModel)]="cv.key" id="key" [disabled]="mode == 'edit'">
        </div>
        <div class="form-group" [class.has-error]="!isValueValid()">
          <label class="control-label" for="value">Value</label>
          <input type="text" class="form-control" [(ngModel)]="cv.value" id="value">
        </div>
        <div class="form-group" [class.has-error]="!isTemplateValid()">
          <label class="control-label" for="template">Template</label>
          <input type="text" class="form-control" [(ngModel)]="cv.template" id="template" [disabled]="mode == 'edit'"
                 list="tempalteList">
          <datalist id="tempalteList">
            <option *ngFor="let template of templates" value="{{template}}"></option>
          </datalist>
        </div>
        <div class="form-group">
          <label class="control-label" for="service">Service</label>
          <select class="form-control" [(ngModel)]="cv.service" id="service" [disabled]="mode == 'edit'">
            <option *ngFor="let service of services" [value]="service">{{service}}</option>
          </select>
        </div>

        <div class="pull-right">
          <button [routerLink]="['/config',cv.template]" class="btn btn-default">Back</button>
          <button (click)="save()" class="btn btn-info" [disabled]="!isKeyValid() || !isValueValid() || !isTemplateValid()">
            Save
          </button>
        </div>
      </div>

    </cc-panel>
  </div>
</div>
