<cc-title [title]="'New Configuration Key-Value-Pair'" titleIcon="fa-code-fork" *ngIf="mode === 'new'"></cc-title>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <cc-panel [title]="'New ConfigValue Template'" icon="fa-list-alt">
      <form [formGroup]="kvForm" novalidate cc-panel-body (ngSubmit)="save()">
        <div class="form-group" [ngClass]="{ 'has-error': !kvForm.controls.newTemplate.pristine && !kvForm.controls.newTemplate.valid }">
          <label class="control-label" for="newTemplate">New template name</label>
          <input type="text" class="form-control" formControlName="newTemplate" id="newTemplate">
          <span *ngIf="!kvForm.controls.newTemplate.pristine && !kvForm.controls.newTemplate.valid" class="help-block">
            This field is required
          </span>
        </div>

        <div class="form-group">
          <label class="control-label" for="template">Copy from:</label>
          <input type="text" class="form-control" formControlName="template" id="template" list="tempalteList">
          <datalist id="tempalteList">
            <option *ngFor="let template of templates" value="{{template}}"></option>
          </datalist>
          <span *ngIf="!kvForm.controls.newTemplate.pristine && !kvForm.controls.newTemplate.valid" class="help-block">
            This field is required
          </span>
        </div>

        <div class="pull-right">
          <button type="submit" class="btn btn-info" [disabled]="kvForm.invalid">
            Create new Template
          </button>
        </div>
      </form>
    </cc-panel>
  </div>
</div>
