<cc-title title="Configuration Key-Value-Pairs" titleIcon="fa-code-fork" subtitle="Template: {{template}}">
  <a cc-subtitle-addition *ngIf="template != 'GLOBAL'" href="javascript:void(0)" mwlConfirmationPopover
     [title]="'Please verify!'"
     [message]="'Are you sure you want to delete all key-value-pairs the following template: <strong>'+ template+'</strong>?'"
     confirmButtonType="danger"
     (confirm)="deleteCurrentTemplate()"
     [appendToBody]="true">
    <i class="fa fa-trash-o fa-fw"></i>
  </a>
</cc-title>

<div class="row">
  <div class="col-md-4">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-8">
    <button [routerLink]="['/config', template, '', 'new']" [queryParams]="{'ret':'ov'}"
            class="btn btn-default pull-right">
      Add a new Key-Value-Pair
    </button>
  </div>
</div>

<div class="row" *ngIf="tree.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert-1">
      There are no Key-Value-Pairs defined for this template.<br/>
      <a [routerLink]="['/config', template, '', 'new']" [queryParams]="{'ret':'ov'}">Add a new Key-Value-Pair</a>
    </div>
  </div>
</div>

<div class="row" *ngIf="tree && tree.length > 0">
  <div class="col-md-6" *ngFor="let service of tree">
    <cc-panel [icon]="service.icon" [title]="service.name" [collapsable]="true">
      <li cc-panel-dropdown>
        <a [routerLink]="['/config', template, service.name, 'new']" [queryParams]="{'ret':'ov'}">Add new Key-Value</a>
      </li>
      <li class="divider" cc-panel-dropdown></li>
      <li cc-panel-dropdown>
        <a href="javascript:void(0)" mwlConfirmationPopover
           [title]="'Please verify!'"
           [message]="'Are you sure you want to delete all key-value-pairs for the following service: <strong>'+ service.name+'</strong>?'"
           confirmButtonType="danger"
           (confirm)="deleteService(service.name)"
           [appendToBody]="true">
          Delete
        </a>
      </li>

      <div class="table-responsive" cc-panel-body>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th width="30%">Key</th>
            <th>Value</th>
            <th width="35px"></th>
            <th width="35px"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let kv of service.kvs" (dblclick)="goToDetail(kv)">
            <td>
              {{kv.key}}
            </td>
            <td class="word-break">
              {{kv.value}}
            </td>
            <td>
              <a title="Edit" [routerLink]="['/config', kv.template, kv.service, kv.key]">
                <i class="fa fa-edit fa-fw"></i>
              </a>
            </td>
            <td>
              <a href="javascript:void(0)" mwlConfirmationPopover
                title="Delete"
                [title]="'Please verify!'"
                [message]="'Are you sure you want to delete the following key-value-pair: '+ kv.key+'?'"
                placement="left"
                confirmButtonType="danger"
                (confirm)="deleteKey(kv)">
                <i class="fa fa-trash-o fa-fw"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </cc-panel>
  </div>
</div>

