@import "../../glob/_variables";

.footer {
  margin-left: 250px;
  bottom: 0;
  background-color: #f8f8f8;
  width: calc(100vw - 250px);
  border-top: 1px solid;
  border-color: #e7e7e7;
  padding-left: 15px;
  padding-top: 10px;
}
