<cc-title title="Service Details" titleIcon="fa-flask" [subtitle]="service.name"></cc-title>

<div class="row">

  <div class="col-md-6">
    <cc-panel [title]="'Service-Details'" icon="fa-flask">
      <form [formGroup]="serviceForm" novalidate (ngSubmit)="save(serviceForm.value)" cc-panel-body>
        <div class="form-group" [ngClass]="{ 'has-error': !serviceForm.controls.name.pristine && !serviceForm.controls.name.valid }">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" [readOnly]="mode === 'edit'">
          <span *ngIf="!serviceForm.controls.name.pristine && !serviceForm.controls.name.valid" class="help-block">
            This field is required
          </span>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': !serviceForm.controls.initScript.pristine && !serviceForm.controls.initScript.valid }">
          <label class="control-label" for="script">Start-Script name</label>
          <input type="text" class="form-control" formControlName="initScript" id="script">
          <span *ngIf="!serviceForm.controls.initScript.pristine && !serviceForm.controls.initScript.valid" class="help-block">
            This field is required
          </span>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea type="text" class="form-control" formControlName="description" id="description">
          </textarea>
        </div>

        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="goToBack()" role="button">
            Back
          </button>
          <button type="submit" class="btn btn-info" [disabled]="serviceForm.invalid">
            Save
          </button>
        </div>
      </form>
    </cc-panel>
  </div>

  <div class="col-md-6">
    <cc-panel [title]="'Provided by'" icon="fa-book" [collapsable]="true">
      <table class="table-responsive table table-striped table-hover" cc-panel-body>
        <thead>
        <tr>
          <th>Package-Name</th>
          <th width="15px"></th>
          <th width="15px"></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngIf="!service.packages || service.packages.length <= 0" class="warning">
          <td colspan="3" class="text-center">
            This service is currently not provided by a package.
          </td>
        </tr>
        <tr *ngFor="let package of service.packages" (dblclick)="gotoPackage(package)">
          <td>
            {{package}}
          </td>
          <td>
            <a [routerLink]="['/package', package]" [queryParams]="{'ret': 'serviceDetail', 'id': service.name}" title="Show Package">
              <i class="fa fa-external-link fa-fw"></i>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" mwlConfirmationPopover
               [title]="'Please verify!'"
               [message]="'Are you sure you want to remove the following package link from the service: '+ package.name + '?'"
               placement="left"
               confirmButtonType="danger"
               (confirm)="deletePackage(package)"
               title="Delete package from service">
              <i class="fa fa-trash-o fa-fw"></i>
            </a>
          </td>
        </tr>

        <tr *ngIf="showAddPackage">
          <td colspan="3">
            <div class="form-group">
              <label class="control-label" for="addpackage"><i class="fa fa-plus fa-fw"></i> Add a package providing
                this service</label>
              <select class="form-control" [(ngModel)]="newPackage" id="addpackage">
                <option *ngFor="let pkg of allPackages" value="{{pkg.name}}">{{pkg.name}}</option>
              </select>
            </div>

            <div class="pull-right">
              <button (click)="showAddPackage = false" class="btn btn-default">Cancel</button>
              <button (click)="saveNewPackage()" class="btn btn-success"
                      [disabled]="!newPackage">Add
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="!showAddPackage" (click)="goToAddPackage()">
          <td colspan="3" role="button"><i class="fa fa-plus fa-fw"></i>
            Add a package providing this service
          </td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>

  <div class="col-md-6">
    <cc-panel [title]="'Template references'" icon="fa-institution" [collapsable]="true">
      <table class="table-responsive table table-striped table-hover" cc-panel-body>
        <thead>
        <tr>
          <th width="30%">Template</th>
          <th>Package</th>
          <th width="15px"></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngIf="!templateRefs || templateRefs.length <= 0" class="warning">
          <td colspan="3" class="text-center">
            This service is currently not used by any template.
          </td>
        </tr>
        <tr *ngFor="let ref of templateRefs" (dblclick)="gotoTemplate(ref.template)">
          <td>
            {{ref.template}}
          </td>
          <td class="word-break">
            {{ref.pkg}}
          </td>
          <td>
            <a [routerLink]="['/template', ref.template]" title="Show Template"><i class="fa fa-external-link fa-fw"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>
</div>
