<cc-title [title]="'Services'" titleIcon="fa-flask"></cc-title>

<div class="row">
  <div class="col-md-3">
    <cc-filter (onQueryChange)="searchQuery = $event"></cc-filter>
  </div>
  <div class="col-md-9">
    <button [routerLink]="['new']" class="btn btn-default pull-right">Add a new Service</button>
  </div>
</div>

<div class="row" *ngIf="!servicesLoaded">
  <div class="col-sm-12">
    <div class="alert alert-info">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      Loading services...
    </div>
  </div>
</div>

<div class="row" *ngIf="servicesLoaded && services && services.length < 1">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert-1">
      No services found
    </div>
  </div>
</div>

<div class="row" *ngIf="services && services.length > 0">
  <div class="col-md-12">
    <cc-panel [icon]="'fa-flask'" [title]="'All available services'">

      <li cc-panel-dropdown>
        <a [routerLink]="['new']">New service</a>
      </li>

      <table class="table-responsive table table-striped table-hover dataTable" cc-panel-body>
        <thead>
        <tr>
          <th class="sorting_asc" width="30%">Name</th>
          <th class="sorting">Description</th>
          <th class="sorting"># Providing Packages</th>
          <th class="sorting"># Templates</th>
          <th width="15px"></th>
          <th width="15px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of services" (dblclick)="gotoDetails(service)"
          [class.warning]="!service.templates || service.templates.length < 1"
          [class.danger]="!service.packages || service.packages.length < 1">
          <td>
            {{service.name}}
          </td>
          <td class="word-break">
            {{service.description}}
          </td>
          <td>
            <span *ngIf="service.packages">{{service.packages.length}}</span>
            <span *ngIf="!service.packages">0</span>
          </td>
          <td>
            <span *ngIf="service.templates">{{service.templates.length}}</span>
            <span *ngIf="!service.templates">0</span>
          </td>
          <td>
            <a class="edit" title="Edit Service" [routerLink]="[service.name]"><i class="fa fa-edit fa-fw"></i></a>
          </td>
          <td>
            <a class="delete" href="javascript:void(0)" mwlConfirmationPopover
              title="Delete Service"
              [title]="'Please verify!'"
              [message]="'Are you sure you want to delete the following service: ' + service.name + '?'"
              placement="left"
              confirmButtonType="danger"
              (confirm)="deleteService(service)">
              <i class="fa fa-trash-o fa-fw"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </cc-panel>
  </div>
</div>
