<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Generate a new Token</h4>
</div>

<div class="modal-body">
	Generate a new token and <b>select agents</b> for that token: <br/> 
	(shows only agents that don't have a token yet)
	<br/>
	<br/>
	<form id="token">
		<fieldset>
			<ul style="list-style-type:none">
				#foreach( $agent in $AGENTSWITHOUTTOKEN)
				<li>
					<label>
						<input type="checkbox" name="agents" value="$agent.id" />
						$agent.name
					</label>
				</li>
				#end
			</ul>
		</fieldset>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" data-ref="0/new" data-call-type="POST" data-toggle="modal" data-target="#popModal" data-form="token">Generate</button>
</div>