<cc-panel [title]="'Pending Package Changes'" icon="fa-hourglass-2" subTitle="last update: {{ lastUpdate | date:'dd.MM.yyyy HH:mm'}}" [subTitleCondition]="lastUpdate">
  <div *ngIf="!hasChanges" class="alert alert-success" cc-panel-body>
    There are no pending package changes on any host.
  </div>

  <table *ngIf="hasChanges" class="table-responsive table table-striped table-hover dataTable" cc-panel-body>
      <thead>
      <tr>
        <th class="sorting_asc" width="30%">Host</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hostname of hostNames">
        <td>
          {{hostname}}
        </td>
        <td>
          <ul *ngIf="packageChanges[hostname].length">
            <li *ngFor="let packageChange of packageChanges[hostname]">
              <span class="label label-default label-as-badge"
                [class.label-success]="packageChange.state === 'installing' || packageChange.state === 'upgrading'"
                [class.label-danger]="packageChange.state === 'uninstalling' || packageChange.state === 'downgrading'">
                <i class="fa fa-refresh fa-spin fa-fw" *ngIf="packageChange.state !== 'protected'"></i>
                {{packageChange.state}}
              </span>
              <span *ngIf="packageChange">
                {{packageChange.name}}
              </span>
              <span *ngIf="packageChange.templateVersion">
                :{{packageChange.templateVersion}}
              </span>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
</cc-panel>
