<cc-panel [title]="'Host Status'" icon="fa-laptop" subTitle="last update: {{ lastUpdate | date:'dd.MM.yyyy HH:mm'}}" [subTitleCondition]="lastUpdate">
  <ng-container *ngIf="(hostsObs | async) as hosts; else loading" cc-panel-body>
    <div class="alert alert-warning" *ngIf="hosts?.length < 1" cc-panel-body>
      No hosts found!
    </div>
    <table class="table-responsive table table-striped table-hover dataTable" *ngIf="hosts?.length > 0" cc-panel-body>
      <thead>
      <tr>
        <th class="sorting">Name</th>
        <th class="sorting">Template</th>
        <th class="sorting_asc">Last Seen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let host of hosts" (dblclick)="onHostClicked.emit(host.uuid)"
        [class.success]="hostsService.isAlive(host)" [class.danger]="!hostsService.isAlive(host)">
        <td class="word-break" *ngIf="!host.agent">
          {{host.name}}
        </td>
        <td class="word-break" *ngIf="host.agent">
          {{host.agent}}
          <small> - {{host.name}}</small>
        </td>
        <td>
          {{host.template}}
        </td>
        <td>
          {{host.lastSeen | date:'dd.MM.yyyy HH:mm'}}
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #loading>
    <div class="alert alert-info">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      Loading hosts...
    </div>
  </ng-template>

</cc-panel>
