<cc-panel [title]="'Repository Scans'" icon="fa-server" subTitle="last update: {{ lastUpdate | date:'dd.MM.yyyy HH:mm'}}" [subTitleCondition]="lastUpdate">
  <ng-container *ngIf="(reposObs | async) as repos" cc-panel-body>
    <div class="alert alert-warning" *ngIf="repos?.length < 1">
      No repository scans!
    </div>
    <table class="table-responsive table table-striped table-hover dataTable" *ngIf="repos?.length > 0">
      <thead>
      <tr>
        <th class="sorting" width="30%">Name</th>
        <th class="sorting_asc">Last Indexed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let repo of repos" (dblclick)="onRepoClicked.emit(repo.name)"
        [class.success]="!repoScans.isDue(repo)"
        [class.warning]="repoScans.isDue(repo)"
        [class.danger]="repoScans.isPastDue(repo)">
        <td>
          {{repo.name}}
        </td>
        <td>
          <span *ngIf="!repo.lastIndex">Never</span>
          <span *ngIf="repo.lastIndex">{{repo.lastIndex | date: 'dd.MM.yyyy HH:mm'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</cc-panel>
