<ul class="pagination pull-right">
  <li [class.disabled]="currentPage < 2">
    @if (currentPage > 1) {
      <a [routerLink]="[]" [queryParams]="{page: page - 1}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    }
    @if (currentPage < 2) {
      <a href="javascript:void(0)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    }
  </li>

  @for (p of pages; track p) {
    <li [class.active]="p === currentPage">
      <a [routerLink]="[]" [queryParams]="{page: p}">{{p}}</a>
    </li>
  }

  <li [class.disabled]="currentPage >= pageCount">
    @if (currentPage < pageCount) {
      <a [routerLink]="[]" [queryParams]="{page: page + 1}" aria-label="Next" >
        <span aria-hidden="true">&raquo;</span>
      </a>
    }
    @if (currentPage >= pageCount) {
      <a href="javascript:void(0)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    }
  </li>
</ul>
