<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Delete a package from the service <strong>${SERVICE.name}</strong></h4>
</div>
<div class="modal-body">
	<div class="alert alert-warning">Your are going to delete the package <strong>${PACKAGE.name}</strong> from the service <strong>${SERVICE.name}</strong>.<br />
	Is this correct?</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
   	<button type="button" class="btn btn-primary" data-ref="${SERVICE.name}/package/${PACKAGE.name}/delete" data-toggle="update-modal" data-call-type="POST" data-target="#popModal">Yes</button>
</div>